@media (max-width: calc($breakpoint-large - 1px)) {
    body {
        .landing-page {
            @import "navbar_responsiveness";

            .hero {
                height: calc(100% - 5rem);

                .page-title {
                    font-size: 5rem;
                    transform: translateY(-2.5rem);
                }
            }
        }

        .main {
            width: 100%;

            .section {
                padding: 2rem;

                .section-header {
                    gap: 0.2rem;

                    height: 8rem;
                    margin-bottom: 1rem;

                    .title-container {
                        gap: 1rem;

                        .svg-container {
                            width: 3rem;
                            height: 3rem;
                        }

                        .title {
                            font-size: 2rem;
                        }
                    }

                    .subtitle {
                        font-size: 1.3rem;
                    }
                }
            }

            .about-section {
                .section-main {
                    gap: 3rem;

                    min-height: calc(100% - 12rem);

                    .content-container {
                        .heading {
                            font-size: x-large;
                        }
                        .context {
                            font-size: 1.3rem;
                        }
                    }
                }
            }

            .authorities-section {
                .section-main {
                    min-height: calc(100vh - 12rem);

                    .cards-container {
                        height: fit-content;
                        min-height: calc(100vh - 12rem);

                        .card {
                            padding: 1rem 2rem;

                            .head {
                                .picture {
                                    width: 4rem;
                                }

                                .headings {
                                    .heading {
                                        font-size: medium;
                                    }
                                    .name {
                                        font-size: x-large;
                                    }
                                }
                            }

                            .context {
                                font-size: medium;
                                margin-top: 0.5rem;
                            }
                        }
                    }
                }
            }

            .facilities-section {
                .section-main {
                    gap: 3rem;

                    min-height: calc(100% - 12rem);
                    margin: 2rem auto;

                    .feature-tags-container {
                        gap: 3rem;

                        .feature-tag {
                            gap: 0.5rem;

                            width: 25rem;
                            padding: 1rem;

                            .svg-container {
                                width: 3rem;
                                height: 3rem;
                                padding: 0.5rem;
                            }

                            .text {
                                font-size: large;
                            }
                        }
                    }

                    .btn {
                        @include btn-svg-primary;

                        padding: 1rem 1.5rem;

                        .svg-container {
                            width: 1.2rem;
                            height: 1.2rem;
                        }

                        .text {
                            font-size: large;
                        }
                    }
                }
            }
        }

        @import "footer_responsiveness";
    }
}
