@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");

// Fonts.
$font-heading: "Titillium Web", sans-serif;
$font-subheading: "Comfortaa", sans-serif;
$font-text: "Roboto", sans-serif;

// Colors.
$color-primary: #0e1ec4;
$color-secondary: #00b4ff;
$color-light: #fcf7ff;
$color-dark: #1e1927;

// Breakpoints.
$breakpoint-large: 1920px;
$breakpoint-medium: 1440px;
$breakpoint-small: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 481px;
