@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Overlock:wght@400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

// Fonts.
$font-heading: "Catamaran", sans-serif;
$font-subheading: "Overlock", sans-serif;
$font-text: "Roboto", sans-serif;

// Colors.
$color-primary: #285e8e;
$color-secondary: #00b4ff;
$color-light: #f4faff;
$color-dark: #3d4756;
