.footer {
    width: 100%;
    max-width: $breakpoint-large;
    height: fit-content;
    background-color: $color-dark;
    margin: auto;

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        width: 100%;
        padding: 2rem 0;

        .content-list {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            .title {
                font-size: 3rem;
                font-weight: 400;
                color: rgba($color-light, 0.7);
                margin-bottom: 1rem;
            }

            .nav-link {
                font-size: 1.7rem;
                font-weight: 400;
                color: rgba($color-secondary, 0.8);
                padding-left: 5px;
                transition: all 200ms;
            }

            .nav-link:hover,
            .nav-link:active {
                color: $color-secondary;
            }

            .item {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 0.3rem;

                .svg-container {
                    width: 2rem;
                    height: 2rem;

                    > svg {
                        width: 100%;
                        height: 100%;
                        fill: rgba($color-light, 0.7);
                        stroke: rgba($color-light, 0.7);
                        transition: all 200ms;
                    }
                }

                .text {
                    font-size: 1.7rem;
                    font-weight: 300;
                    color: rgba($color-light, 0.6);
                    padding-left: 5px;
                    transition: all 200ms;
                }
            }

            .item:hover {
                cursor: default;

                .svg-container {
                    > svg {
                        fill: $color-light;
                        stroke: $color-light;
                    }
                }

                .text {
                    color: $color-light;
                }
            }

            .creds-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                width: 25rem;
                height: 4rem;
                background-color: rgba($color-light, 0.9);
                border-radius: 3rem;
                margin-bottom: 3rem;

                .email {
                    flex: 1;

                    height: 100%;
                    font-size: xx-large;
                    font-weight: 400;
                    padding: 0.5rem 1.5rem;
                }

                .btn {
                    @include btn-svg-secondary;
                    height: 100%;
                    padding: 0 1rem;
                    border-radius: 0;
                }
                .btn:hover,
                .btn:focus {
                    @include btn-svg-secondary-hover;
                }
            }

            .quote {
                width: 100%;
                font-size: x-large;
                font-weight: 400;
                text-align: center;
                color: rgba($color-light, 0.6);
            }
        }
    }

    .branding-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        min-height: 10rem;
        background-color: lighten($color-dark, 5%);
        padding: 0 3rem;

        .brand-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            .img-container {
                width: 8rem;
                height: fit-content;
            }

            .copyrights {
                font-size: x-large;
                font-weight: 400;
                color: rgba($color-light, 0.8);
            }
        }

        .socials-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2rem;

            .btn {
                width: 3rem;
                height: 3rem;

                > svg {
                    width: 100%;
                    height: 100%;
                    fill: rgba($color-secondary, 0.5);
                    stroke: rgba($color-secondary, 0.5);
                    transition: all 200ms;
                }
            }
            .btn:hover {
                > svg {
                    fill: $color-secondary;
                    stroke: $color-secondary;
                }
            }
        }
    }
}
