@mixin footer {
    .footer {
        width: 100%;
        height: fit-content;
        background-color: $color-dark;
        margin: auto;

        .content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            width: 100%;
            padding: 3rem;

            .content-list {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;

                .title {
                    font-size: $fs-3;
                    font-weight: 400;
                    color: rgba($color-light, 0.7);
                }

                .nav-link {
                    font-size: $fs-6;
                    font-weight: 400;
                    color: rgba($color-secondary, 0.8);
                    padding-left: 5px;
                    transition: all 200ms;
                }

                .nav-link:hover,
                .nav-link:active {
                    color: $color-secondary;
                }

                .item {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 0.3rem;

                    .svg-container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 2rem;
                        height: 2rem;

                        > svg {
                            width: 100%;
                            height: 100%;
                            fill: rgba($color-light, 0.7);
                            stroke: rgba($color-light, 0.7);
                            transition: all 200ms;
                        }
                    }

                    .text {
                        font-size: $fs-6;
                        font-weight: 300;
                        color: rgba($color-light, 0.6);
                        padding-left: 5px;
                        transition: all 200ms;
                    }
                }

                .item:hover {
                    cursor: default;

                    .svg-container {
                        > svg {
                            fill: $color-light;
                            stroke: $color-light;
                        }
                    }

                    .text {
                        color: $color-light;
                    }
                }

                .creds-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    width: 25rem;
                    height: 4rem;
                    background-color: rgba($color-light, 0.9);
                    border-radius: $fs-3;
                    margin-right: 3px;
                    margin-bottom: 3rem;
                    overflow: visible;

                    .email {
                        flex: 1;

                        height: 100%;
                        font-size: $fs-5;
                        font-weight: 400;
                        padding: 0.5rem 1.5rem;
                    }

                    .btn {
                        @include btn-svg($color-light, $color-secondary);
                        height: 100%;
                        padding: 0 1rem;
                        border-radius: 0;
                        border-top-right-radius: $fs-3;
                        border-bottom-right-radius: $fs-3;
                    }
                    .btn:hover,
                    .btn:focus {
                        @include btn-svg-hover($color-secondary);
                    }
                }

                .quote {
                    width: 100%;
                    font-size: $fs-6;
                    font-weight: 400;
                    text-align: center;
                    color: rgba($color-light, 0.6);
                }
            }
        }

        .branding-bar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            width: 100%;
            min-height: 10rem;
            background-color: lighten($color-dark, 5%);
            padding: 0 3rem;

            .brand-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                .img-container {
                    width: 8rem;
                    height: fit-content;
                }

                .copyrights {
                    font-size: $fs-6;
                    font-weight: 400;
                    color: rgba($color-light, 0.8);
                }
            }

            .socials-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2rem;

                .btn {
                    width: 3rem;
                    height: 3rem;

                    > svg {
                        width: 100%;
                        height: 100%;
                        fill: rgba($color-secondary, 0.5);
                        stroke: rgba($color-secondary, 0.5);
                        transition: all 200ms;
                    }
                }
                .btn:hover {
                    > svg {
                        fill: $color-secondary;
                        stroke: $color-secondary;
                    }
                }
            }
        }
    }
}

@mixin footer-medium {
    .footer {
        .content .content-list {
            gap: 0.5rem;

            .title {
                font-size: $fs-5;
            }

            .nav-link {
                font-size: $fs-7;
            }

            .item {
                gap: 0.2rem;

                .svg-container {
                    width: 1.5rem;
                    height: 1.5rem;
                }

                .text {
                    font-size: $fs-7;
                }
            }

            .creds-container {
                width: 18rem;
                height: 3rem;
                border-radius: 2rem;
                margin-bottom: 1rem;

                .email {
                    font-size: $fs-7;
                    padding: 0.3rem 0.8rem;
                }

                .btn {
                    padding: 0 0.5rem;
                }
            }

            .quote {
                font-size: $fs-7;
            }
        }

        .branding-bar {
            min-height: 5rem;
            padding: 0 2rem;

            .brand-container {
                gap: 1rem;

                .img-container {
                    width: 5rem;
                }

                .copyrights {
                    font-size: $fs-7;
                }
            }

            .socials-container {
                gap: 1.5rem;

                .btn {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
}

@mixin footer-small {
    .footer {
        .content .content-list {
            gap: 0.3rem;

            .title {
                font-size: $fs-7;
            }

            .nav-link {
                font-size: $fs-8;
            }

            .item {
                gap: 0.2rem;

                .svg-container {
                    width: 1.2rem;
                    height: 1.2rem;
                }

                .text {
                    font-size: $fs-8;
                }
            }

            .creds-container {
                width: 15rem;
                height: 2.5rem;
                border-radius: 2rem;
                margin-bottom: 0.5rem;

                .email {
                    font-size: $fs-8;
                }

                .btn {
                    padding: 0 0.3rem;
                }
            }

            .quote {
                font-size: $fs-8;
            }
        }

        .branding-bar {
            .brand-container {
                gap: 0.5rem;

                .img-container {
                    width: 4rem;
                }

                .copyrights {
                    font-size: $fs-8;
                }
            }

            .socials-container {
                gap: 1rem;

                .btn {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
    }
}

@mixin footer-tablet {
    .footer {
        .content {
            padding: 1rem;

            .content-list {
                gap: 0.1rem;
                .title {
                    font-size: $fs-9;
                }

                .nav-link {
                    font-size: $fs-10;
                }

                .item {
                    gap: 0.2rem;
                    .svg-container {
                        width: 0.8rem;
                        height: 1.2rem;
                    }

                    .text {
                        font-size: $fs-10;
                        padding: 0;
                    }
                }
                .creds-container {
                    width: 8rem;
                    height: 1.5rem;

                    .email {
                        font-size: $fs-10;
                        padding: 0.3rem 0.5rem;
                    }

                    .btn {
                        padding: 0;

                        .svg-container {
                            width: 1rem;
                            height: 1rem;
                        }
                    }
                }
                .quote {
                    font-size: $fs-10;
                }
            }

            .content-list:nth-child(3) {
                display: none;
            }
        }

        .branding-bar {
            min-height: 3rem;
            padding: 0.5rem 1rem;

            .brand-container {
                gap: 0.5rem;

                .img-container {
                    width: 2rem;
                }

                .copyrights {
                    font-size: 0.6rem;
                }
            }

            .socials-container {
                gap: 0.5rem;

                .btn {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }
}

@mixin footer-mobile {
    .footer {
        .content {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            padding: 2rem;

            .content-list {
                justify-content: center;
                align-items: center;
                width: 100%;

                .title {
                    font-size: $fs-8;
                    margin-bottom: 0.3rem;
                }

                .nav-link {
                    font-size: $fs-9;
                }

                .item {
                    .svg-container {
                        width: 1.2rem;
                        height: 1.2rem;
                    }

                    .text {
                        font-size: $fs-9;
                        text-align: center;
                    }
                }

                .creds-container {
                    width: 10rem;
                    height: 2rem;

                    .email {
                        font-size: $fs-9;
                        padding: 0.3rem 0.8rem;
                    }

                    .btn {
                        padding: 0.3rem;
                    }
                }

                .quote {
                    font-size: $fs-9;
                }
            }

            .content-list:nth-child(3) {
                display: flex;
            }
        }
    }
}
