.navbar {
    height: 5rem;
    padding: 1rem 3rem;
    z-index: 10;

    .brand-img {
        width: 5rem;
    }

    .navigation {
        gap: 2rem;

        li > .nav-item {
            font-size: x-large;
        }

        .dropdown {
            .nav-item::after {
                font-size: medium;
            }

            .subnav {
                gap: 1rem;

                padding: 1rem;
                border-radius: 0.5rem;

                .nav-link {
                    font-size: x-large;
                }
            }
        }
    }
}
