//  BUTTONS

// Parent Simple Button
@mixin btn {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    transition: all 200ms ease-in;
}

// Parent Svg Button.
@mixin btn-svg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    padding: 1rem 1.5rem;
    border-radius: 1rem;
    transition: all 200ms ease-in-out;

    .text {
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1px;
    }

    .svg-container {
        width: 2rem;
        height: 2rem;

        > svg {
            width: 100%;
            height: 100%;
        }
    }
}

//    Primary Buttons
@mixin btn-primary {
    @include btn();
    color: $color-light;
    background-color: $color-primary;
}
@mixin btn-primary-hover {
    color: $color-primary;
    background-color: transparent;
    outline: 3px solid $color-primary;
    cursor: pointer;
}

@mixin btn-primary-outline {
    @include btn();
    color: $color-primary;
    outline: 3px solid $color-primary;
}
@mixin btn-primary-outline-hover {
    color: $color-light;
    background-color: $color-primary;
    outline: none;
    cursor: pointer;
}

//    Secondary Buttons
@mixin btn-secondary {
    @include btn();
    color: $color-light;
    background-color: $color-secondary;
}
@mixin btn-secondary-hover {
    color: $color-secondary;
    background-color: transparent;
    outline: 3px solid $color-secondary;
    cursor: pointer;
}

@mixin btn-secondary-outline {
    @include btn();
    color: $color-secondary;
    outline: 3px solid $color-secondary;
}
@mixin btn-secondary-outline-hover {
    color: $color-light;
    background-color: $color-secondary;
    outline: none;
    cursor: pointer;
}

//    Dark Buttons
@mixin btn-dark {
    @include btn();
    color: $color-light;
    background-color: $color-dark;
}
@mixin btn-dark-hover {
    color: $color-dark;
    background-color: transparent;
    outline: 3px solid $color-dark;
    cursor: pointer;
}

@mixin btn-dark-outline {
    @include btn();
    color: $color-dark;
    outline: 3px solid $color-dark;
}
@mixin btn-dark-outline-hover {
    color: $color-light;
    background-color: $color-dark;
    outline: none;
    cursor: pointer;
}

//    Svg Primary Buttons.
@mixin btn-svg-primary {
    @include btn-svg;

    background-color: $color-primary;

    .text {
        color: $color-light;
    }

    .svg-container > svg {
        fill: $color-light;
        stroke: $color-light;
    }
}
@mixin btn-svg-primary-hover {
    background-color: transparent;
    outline: 3px solid $color-primary;
    cursor: pointer;

    .text {
        color: $color-primary;
    }

    .svg-container > svg {
        fill: $color-primary;
        stroke: $color-primary;
    }
}

//    Svg Secondary Buttons.
@mixin btn-svg-secondary {
    @include btn-svg;

    background-color: $color-secondary;

    .text {
        color: $color-light;
    }

    .svg-container > svg {
        fill: $color-light;
        stroke: $color-light;
    }
}
@mixin btn-svg-secondary-hover {
    background-color: transparent;
    outline: 3px solid $color-secondary;
    cursor: pointer;

    .text {
        color: $color-secondary;
    }

    .svg-container > svg {
        fill: $color-secondary;
        stroke: $color-secondary;
    }
}

//    Svg Dark Buttons.
@mixin btn-svg-dark {
    @include btn-svg;

    background-color: $color-dark;

    .text {
        color: $color-light;
    }

    .svg-container > svg {
        fill: $color-light;
        stroke: $color-light;
    }
}
@mixin btn-svg-dark-hover {
    background-color: transparent;
    outline: 3px solid $color-dark;
    cursor: pointer;

    .text {
        color: $color-dark;
    }

    .svg-container > svg {
        fill: $color-dark;
        stroke: $color-dark;
    }
}

// Section.
@mixin section {
    width: 100%;
    height: 100vh;
    padding: 3rem;

    .section-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        width: 100%;
        height: 10rem;
        margin-bottom: 2rem;

        .title-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            width: 100%;

            .svg-container {
                width: 5rem;
                height: 5rem;

                > svg {
                    width: 100%;
                    fill: $color-primary;
                }
            }

            .title {
                font-size: 4rem;
                font-family: $font-subheading;
                font-weight: 600;
                color: $color-primary;
            }

            .title:hover {
                cursor: default;
            }
        }
        .subtitle {
            font-size: xx-large;
            font-weight: 400;
        }
    }
}
