@import "config";
@import "utils";
@import "navbar";
@import "footer";

body {
    width: 100vw;
    height: 100dvh;
    background-color: $color-light;
    overflow-y: auto;

    .landing-page {
        position: relative;

        width: 100%;
        height: 50%;
        margin: auto;

        .background {
            position: absolute;
            inset: 0;

            width: 100%;
            height: 100%;
            z-index: -20;

            .bg-img {
                position: absolute;
                inset: 0;

                width: 100%;
                height: 100%;
            }

            .filter-curtain {
                position: absolute;
                inset: 0;

                width: 100%;
                height: 100%;
                background-color: rgba(black, 0.68);
                backdrop-filter: blur(5px);
            }
        }

        @include navbar;

        .hero {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            position: relative;

            width: 100%;
            height: calc(50vh - 5rem);

            .page-title {
                font-size: $fs-1;
                font-family: $font-heading;
                font-weight: 700;
                letter-spacing: 2px;
                line-height: 1;
                color: $color-light;
                transform: translateY(-50%);
            }
        }
    }

    .main {
        width: 100%;

        .section {
            @include section;
        }

        .about-section {
            .section-main {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                .content-container {
                    width: 100%;
                    max-width: $breakpoint-medium;

                    .heading {
                        font-size: $fs-4;
                        font-weight: 500;
                        color: $color-primary;
                    }
                    .context {
                        font-size: $fs-5;
                        font-weight: 400;
                    }
                }
            }
        }

        .authorities-section {
            background-color: lighten($color-primary, 50%);

            .section-main {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                gap: 3rem;

                max-width: $breakpoint-medium;
                overflow: visible;

                .card {
                    width: 100%;
                    height: fit-content;
                    background-color: $color-dark;
                    padding: 2rem 3rem;
                    border-radius: 1rem;
                    transition: all 300ms;

                    .head {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 1rem;

                        .picture {
                            width: 6rem;
                            border-radius: 50%;
                        }

                        .headings {
                            .heading {
                                font-size: $fs-6;
                                font-weight: 400;
                                line-height: 1;
                                text-transform: uppercase;
                                color: $color-secondary;
                            }
                            .name {
                                font-size: $fs-4;
                                font-weight: 600;
                                line-height: 1;
                                letter-spacing: 2px;
                                text-transform: capitalize;
                                color: $color-light;
                            }
                        }
                    }

                    .context {
                        width: 100%;
                        font-size: $fs-6;
                        font-weight: 400;
                        text-transform: capitalize;
                        letter-spacing: 1px;
                        line-height: 1;
                        color: $color-light;
                        margin-top: 1rem;
                    }
                }

                .card:hover {
                    cursor: default;
                    transform: translateY(-1rem);
                    box-shadow: 0 0 2rem $color-dark;
                }
            }
        }

        .facilities-section {
            .section-main {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                gap: 2rem;

                max-width: $breakpoint-medium;
                margin: 0 auto;
                overflow: visible;

                .feature-tags-container {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    column-count: 2;
                    justify-content: space-evenly;
                    gap: 2rem;

                    width: 100%;
                    overflow: visible;

                    .feature-tag {
                        flex-basis: 40%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 0.5rem;

                        background-color: lighten($color-primary, 20%);
                        padding: 0.8rem 1.5rem;
                        border-radius: 2rem;
                        transition: all 200ms ease-in;

                        .svg-container {
                            width: 3rem;
                            height: 3rem;
                            padding: 0.5rem;

                            svg {
                                width: 100%;
                                height: 100%;
                                stroke-width: 0.5rem;
                                fill: rgb(85, 225, 85);
                                stroke: rgb(85, 225, 85);
                            }
                        }

                        .text {
                            font-size: $fs-5;
                            font-weight: 500;
                            color: $color-light;
                        }
                    }

                    .feature-tag:hover {
                        transform: translateY(-0.2rem);
                        box-shadow: 0.1rem 0.5rem 0.5rem rgba($color-dark, 0.3);
                    }
                }

                .btn {
                    @include btn-svg($color-light, $color-primary);
                }
                .btn:hover,
                .btn:active {
                    @include btn-svg-hover($color-dark);
                }
            }
        }
    }

    @include footer;
}

////////////// Responsiveness.

/// 1640px
@media screen and (max-width: $breakpoint-medium) {
    body {
        .landing-page {
            @include navbar-medium;

            .hero {
                height: calc(50vh - calc(5rem));

                .page-title {
                    font-size: $fs-2;
                }
            }
        }

        .main {
            .section {
                @include section-medium;
            }

            .about-section .section-main {
                max-width: $breakpoint-small;

                .content-container {
                    .heading {
                        font-size: $fs-5;
                    }
                    .context {
                        font-size: $fs-6;
                    }
                }
            }

            .authorities-section .section-main .card {
                padding: 2rem;

                .head {
                    gap: 1rem;

                    .headings {
                        .heading {
                            font-size: $fs-6;
                        }
                        .name {
                            font-size: $fs-4;
                        }
                    }
                }

                .context {
                    font-size: $fs-6;
                    line-height: 1.5;
                }
            }

            .facilities-section .section-main {
                .feature-tags-container .feature-tag {
                    gap: 0.5rem;

                    padding: 0.6rem 1rem;
                    border-radius: 1rem;

                    .text {
                        font-size: $fs-6;
                    }
                }

                .btn {
                    @include btn-svg-medium($color-light, $color-primary);
                }
            }
        }

        @include footer-medium;
    }
}

/// 1280px
@media screen and (max-width: $breakpoint-small) {
    body {
        @include footer-small;
    }

    ::-webkit-scrollbar {
        width: 0.5rem;
    }
}

/// 1024px || Tablet
@media screen and (max-width: $breakpoint-tablet) {
    body {
        .landing-page {
            @include navbar-tablet;

            .hero {
                height: calc(50vh - calc(2.5rem / 2));

                .page-title {
                    font-size: $fs-3;
                }
            }
        }

        .main {
            .section {
                @include section-tablet;
            }

            .about-section .section-main {
                gap: 2rem;

                .content-container {
                    .heading {
                        font-size: $fs-7;
                    }
                    .context {
                        font-size: $fs-8;
                    }
                }
            }

            .authorities-section .section-main {
                gap: 2rem;

                .card {
                    padding: 1rem;

                    .head {
                        gap: 1rem;

                        .picture {
                            width: 4rem;
                        }

                        .headings {
                            .heading {
                                font-size: $fs-8;
                            }
                            .name {
                                font-size: $fs-7;
                            }
                        }
                    }

                    .context {
                        font-size: $fs-8;
                        margin-top: 0.5rem;
                    }
                }
            }

            .facilities-section .section-main {
                .feature-tags-container .feature-tag {
                    flex-basis: 70%;
                    gap: 0.3rem;

                    max-width: 20rem;
                    padding: 0.4rem 0.6rem;
                    border-radius: 0.8rem;

                    .text {
                        font-size: $fs-8;
                    }

                    .svg-container {
                        width: 1.5rem;
                        height: 1.5rem;
                        padding: 0.1rem;
                    }
                }

                .btn {
                    @include btn-svg-small($color-light, $color-primary);
                }
            }
        }

        @include footer-tablet;
    }

    ::-webkit-scrollbar {
        width: 0.2rem;
    }
}

/// 481 || Mobile
@media screen and (max-width: $breakpoint-mobile) {
    body {
        .landing-page {
            .navbar {
                padding-inline: 1rem;
            }

            .hero .page-title {
                font-size: calc($fs-4 + 0.5rem);
            }
        }

        .main {
            .section {
                @include section-mobile;

                .section-header .title-container {
                    gap: 0.1rem;
                }
            }

            .about-section .section-main .content-container {
                .heading {
                    font-size: $fs-8;
                }
                .context {
                    font-size: $fs-9;
                }
            }

            .authorities-section .section-main .card {
                .head {
                    gap: 0.5rem;

                    .picture {
                        width: 3rem;
                    }

                    .headings {
                        .heading {
                            font-size: $fs-10;
                        }
                        .name {
                            font-size: $fs-7;
                        }
                    }
                }

                .context {
                    font-size: $fs-9;
                }
            }

            .facilities-section .section-main {
                .feature-tags-container .feature-tag {
                    flex-basis: 90%;
                }

                .btn {
                    @include btn-svg-tablet($color-light, $color-primary);
                }
            }
        }

        @include footer-mobile;
    }
}

/// Orientation
@media screen and (orientation: portrait) {
    body .main .section {
        min-height: fit-content;

        .section-main {
            min-height: fit-content;
        }
    }
}
