@import "config";
@import "utils";
@import "navbar";
@import "footer";

body {
    width: 100vw;
    height: 100vh;
    background-color: $color-light;
    overflow-y: auto;

    .landing-page {
        position: relative;

        width: 100%;
        height: 50%;
        margin: auto;

        .background {
            position: absolute;
            inset: 0;

            width: 100%;
            height: 100%;
            z-index: -20;

            .bg-img {
                position: absolute;
                inset: 0;

                width: 100%;
                height: 100%;
            }

            .filter-curtain {
                position: absolute;
                inset: 0;

                width: 100%;
                height: 100%;
                background-color: rgba(black, 0.68);
                backdrop-filter: blur(5px);
            }
        }

        @include navbar;

        .hero {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            position: relative;

            width: 100%;
            height: calc(50vh - 5rem);

            .page-title {
                font-size: 6rem;
                font-family: $font-heading;
                font-weight: 700;
                letter-spacing: 2px;
                line-height: 1;
                color: $color-light;
                transform: translateY(-50%);
            }
        }
    }

    .main {
        position: relative;

        width: 100%;
        max-width: $breakpoint-large;
        height: 100vh;
        padding: 2rem;
        margin: auto;

        .contact-section {
            position: absolute;
            inset: 0;
            top: 50%;
            left: 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            width: 80%;
            height: 80%;
            background-color: $color-light;
            border-radius: 3rem;
            transform: translate(-50%, calc(-50%));

            box-shadow: 0 0 1rem rgba($color-dark, 0.2);

            .contents {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                gap: 2rem;

                width: 60%;
                height: 100%;
                padding: 1rem 3rem;

                .heading {
                    font-size: 3rem;
                    font-weight: 700;
                    font-family: $font-heading;
                    line-height: 1;
                    color: $color-primary;
                }

                .contact {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1rem;

                    width: 80%;
                    height: 4rem;
                    padding: 2rem 1.5rem;
                    border-radius: 1.5rem;
                    outline: 3px solid transparent;
                    box-shadow: 0 0 0.5rem rgba($color-dark, 0.2);
                    transition: all 200ms ease-in;

                    .svg-container {
                        width: 3rem;
                        height: 3rem;

                        > svg {
                            width: 100%;
                            height: 100%;
                            fill: $color-primary;
                            stroke: $color-primary;
                        }
                    }

                    .entry {
                        flex: 1;
                        height: 3rem;
                        font-size: 1.5rem;
                        font-weight: 400;
                    }
                }

                .contact:focus-within,
                .contact:hover {
                    border-color: transparent;
                    outline-offset: 0.3rem;
                    outline-color: $color-primary;
                }

                .message {
                    width: 80%;
                    resize: none;
                    font-size: 1.5rem;
                    font-weight: 400;
                    padding: 2rem 1.5rem;
                    border-radius: 1.5rem;
                    outline: 3px solid transparent;
                    box-shadow: 0 0 0.5rem rgba($color-dark, 0.2);

                    transition: all 200ms ease-in;
                }

                .message:focus,
                .message:hover {
                    border-color: transparent;
                    outline-offset: 0.3rem;
                    outline-color: $color-primary;
                }

                .checkbox {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1rem;

                    width: 80%;
                    padding-left: 1rem;

                    .entry {
                        width: 1.5rem;
                        height: 1.5rem;
                    }

                    .text {
                        font-size: 1rem;
                        font-family: $font-subheading;
                        font-weight: 600;
                    }
                }

                .btn {
                    @include btn($color-light, $color-primary);
                    width: 50%;
                    text-align: center;
                    padding: 1rem 0;
                }

                .btn:hover,
                .btn:focus {
                    @include btn-hover($color-primary);
                }
            }

            .img-container {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                width: 40%;
                height: 100%;
                background-color: $color-primary;
                border-radius: 3rem;

                > img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    @include footer;
}

////////////// Responsiveness.

/// 1640px
@media screen and (max-width: 1640px) {
    body {
        @include footer-medium;
    }
}

/// 1440px
@media screen and (max-width: calc($breakpoint-medium)) {
    body {
        .landing-page {
            @include navbar-medium;

            .hero {
                height: calc(50vh - calc(5rem));

                .page-title {
                    font-size: 4rem;
                }
            }
        }

        .main {
            padding: 1.5rem;

            .contact-section {
                width: 90%;
                height: 85%;
                border-radius: 2rem;

                .img-container {
                    border-radius: 2rem;
                }
            }
        }
    }
}

/// 1280px
@media screen and (max-width: 1280px) {
    body {
        .landing-page {
            @include navbar-small;

            .hero {
                height: calc(50vh - calc(3rem));

                .page-title {
                    font-size: 3rem;
                }
            }
        }

        .main {
            .contact-section {
                .contents {
                    gap: 1rem;

                    .heading {
                        font-size: 2rem;
                    }

                    .contact {
                        gap: 0.8rem;

                        height: 3rem;
                        padding: 1rem;
                        border-radius: 0.8rem;
                        outline-width: 2px;

                        .svg-container {
                            width: 2rem;
                            height: 2rem;
                        }

                        .entry {
                            height: 2rem;
                            font-size: 1rem;
                        }
                    }

                    .contact:focus-within,
                    .contact:hover {
                        outline-offset: 0.2rem;
                    }

                    .message {
                        font-size: 1rem;
                        padding: 1rem;
                        border-radius: 0.8rem;
                        outline-width: 1px;
                    }

                    .message:focus,
                    .message:hover {
                        outline-offset: 0.2rem;
                    }

                    .checkbox {
                        gap: 0.5rem;

                        .entry {
                            width: 1rem;
                            height: 1rem;
                        }

                        .text {
                            font-size: 0.8rem;
                        }
                    }

                    .btn {
                        @include btn-small($color-light, $color-primary);
                        padding: 0.8rem 0;
                    }
                }
            }
        }

        @include footer-small;
    }
    ::-webkit-scrollbar {
        width: 0.5rem;
    }
}

/// 1024px || Tablet
@media screen and (max-width: calc($breakpoint-small - 1px)) {
    body {
        .landing-page {
            @include navbar-tablet;

            .hero {
                height: calc(50vh - calc(2.5rem / 2));

                .page-title {
                    font-size: 3rem;
                }
            }
        }

        .main {
            .contact-section {
                .contents {
                    .contact {
                        width: 90%;
                    }

                    .message {
                        width: 90%;
                    }

                    .checkbox {
                        width: 90%;
                    }

                    .btn {
                        @include btn-small($color-light, $color-primary);
                        width: 60%;
                    }
                }
            }
        }

        @include footer-tablet;
    }
    ::-webkit-scrollbar {
        width: 0.2rem;
    }
}

/// 720px || Tablet
@media screen and (max-width: calc($breakpoint-small - 1px)) {
    body {
        .main {
            .contact-section {
                .contents {
                    width: 100%;

                    .contact,
                    .message,
                    .checkbox {
                        width: 60%;
                        min-width: 20rem;
                    }

                    .btn {
                        @include btn-small($color-light, $color-primary);
                        width: 40%;
                    }
                }
                .img-container {
                    display: none;
                }
            }
        }

        @include footer-tablet;
    }
    ::-webkit-scrollbar {
        width: 0.2rem;
    }
}

/// 481 || Mobile
@media screen and (max-width: $breakpoint-mobile) {
    body {
        .landing-page {
            .navbar {
                padding-inline: 1rem;
            }

            .hero .page-title {
                font-size: 2.5rem;
            }
        }

        .main {
            .contact-section {
                .contents {
                    width: 100%;

                    .heading {
                        font-size: 1.5rem;
                    }

                    .contact,
                    .message {
                        padding: 0.5rem 0.8rem;

                        .svg-container {
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                    }

                    .checkbox {
                        .text {
                            font-size: 0.8rem;
                        }
                    }

                    .contact,
                    .message,
                    .checkbox {
                        width: 90%;
                    }

                    .btn {
                        @include btn-small($color-light, $color-primary);
                        width: 60%;
                    }
                }
            }
        }

        @include footer-mobile;
    }
}

/// Orientation
@media screen and (orientation: portrait) {
    body .main .section {
        min-height: fit-content;

        .section-main {
            min-height: fit-content;
        }
    }
}
