@import "config";

* {
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    color: $color-dark;
    font-size: medium;
    font-family: $font-text;
    font-weight: 100;
    text-align: left;
    text-decoration: none;
    padding: 0px;
    border: none;
    outline: none;
    margin: 0px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.observable-element {
    transition: all 1s;
}

ol,
ul {
    list-style-type: none;
}

img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

// Scrollbar.
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: $color-dark;
}

::-webkit-scrollbar-thumb {
    background: lighten($color-primary, 5%);
}

::-webkit-scrollbar-thumb:hover {
    background: darken($color-primary, 5%);
}
