@import "config";
@import "utils";
@import "navbar";
@import "footer";

body {
    width: 100vw;
    height: 100vh;
    background-color: $color-light;
    overflow-y: auto;

    .landing-page {
        position: relative;

        width: 100%;
        height: 50%;
        margin: auto;

        .background {
            position: absolute;
            inset: 0;

            width: 100%;
            height: 100%;
            z-index: -20;

            .bg-img {
                position: absolute;
                inset: 0;

                width: 100%;
                height: 100%;
            }

            .filter-curtain {
                position: absolute;
                inset: 0;

                width: 100%;
                height: 100%;
                background-color: rgba(black, 0.68);
                backdrop-filter: blur(5px);
            }
        }

        @include navbar;

        .hero {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            position: relative;

            width: 100%;
            height: calc(50vh - 5rem);

            .page-title {
                font-size: $fs-1;
                font-family: $font-heading;
                font-weight: 700;
                letter-spacing: 2px;
                line-height: 1;
                color: $color-light;
                transform: translateY(-50%);
            }
        }
    }

    .main {
        width: 100%;

        .section {
            @include section;
        }

        .album-section {
            .section-header .title-container .svg-container > svg {
                fill: none;
                stroke: $color-primary;
            }

            .albums-container {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;

                width: 100%;
                padding: 3rem 0;
                overflow: visible;

                .album {
                    width: 30%;
                    overflow: visible;

                    .album-title {
                        width: 100%;
                        font-size: 2rem;
                        font-weight: 500;
                        text-align: center;
                        color: $color-primary;
                        margin-bottom: 1rem;
                    }

                    .thumbnail {
                        box-shadow: 0 0 2rem rgba($color-dark, 0.3);
                        aspect-ratio: 16/9;
                        border-radius: 1rem;
                        transition: all 400ms;
                    }
                }

                .album:hover {
                    cursor: pointer;
                }

                .active .thumbnail {
                    transform: translateY(-1rem);
                    box-shadow: 0 1rem 2rem rgba($color-dark, 0.7);
                }
            }

            .live-album {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;

                width: 100%;
                height: 70vh;
                margin: auto;

                .img-reel {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 2rem;

                    width: 30%;
                    height: 100%;
                    background-color: $color-dark;
                    padding: 2rem;
                    border-radius: 1rem;
                    overflow-y: auto;

                    .img-container {
                        width: 45%;
                        aspect-ratio: 16/9;
                        border-radius: 0.5rem;
                    }

                    .img-container:hover {
                        border: 1px solid rgba($color-light, 0.4);
                        cursor: pointer;
                    }

                    .img-container-active {
                        border: 1px solid lighten($color-light, 50%);
                    }
                }

                .img-reel::-webkit-scrollbar,
                ::-moz-scrollbar {
                    display: none;
                }

                .carousel {
                    position: relative;

                    width: calc(60% + (10% / 4));
                    aspect-ratio: 16/9;
                    border-radius: 1rem;

                    img {
                        position: absolute;
                        inset: 0;
                        transition: all 500ms ease;

                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
    }

    @include footer;
}

////////////// Responsiveness.

/// 1640px
@media screen and (max-width: $breakpoint-medium) {
    body {
        .landing-page {
            @include navbar-medium;

            .hero {
                height: calc(50vh - calc(5rem));

                .page-title {
                    font-size: $fs-2;
                }
            }
        }

        .main {
            .section {
                @include section-medium;
            }

            .album-section {
                .albums-container {
                    padding: 1rem 0;

                    .album {
                        width: 25%;

                        .album-title {
                            font-size: $fs-5;
                        }
                    }

                    .active .thumbnail {
                        transform: translateY(-0.5rem);
                        box-shadow: 0 1rem 1rem rgba($color-dark, 0.4);
                    }
                }

                .live-album .img-reel {
                    gap: 1rem;

                    padding: 1rem 0;
                }
            }
        }

        @include footer-medium;
    }
}

/// 1280px
@media screen and (max-width: $breakpoint-small) {
    body {
        .main .album-section {
            .albums-container .album .album-title {
                font-size: $fs-6;
            }

            .live-album {
                flex-direction: column-reverse;
                gap: 1rem;

                width: 90%;
                max-width: 1024px;
                height: fit-content;

                .img-reel {
                    justify-content: flex-start;
                    flex-wrap: nowrap;

                    width: 100%;

                    background-color: $color-dark;
                    padding: 1rem;
                    border-radius: 1rem;
                    overflow-x: auto;
                    overflow-y: hidden;

                    .img-container {
                        min-width: 20%;
                    }
                }

                .carousel {
                    width: 80%;
                }
            }
        }

        @include footer-small;
    }

    ::-webkit-scrollbar,
    ::-moz-scrollbar {
        width: 0.5rem;
    }
}

/// 1024px || Tablet
@media screen and (max-width: $breakpoint-tablet) {
    body {
        .landing-page {
            @include navbar-tablet;

            .hero {
                height: calc(50vh - calc(2.5rem / 2));

                .page-title {
                    font-size: $fs-3;
                }
            }
        }

        .main {
            .section {
                @include section-tablet;
            }

            .album-section {
                padding: 0.5rem;

                .albums-container {
                    flex-wrap: wrap;
                    column-gap: 1rem;
                    row-gap: 1rem;

                    .album {
                        width: 30%;
                        min-width: 10rem;

                        .album-title {
                            font-size: $fs-9;
                        }
                    }
                }
            }
        }

        @include footer-tablet;
    }

    ::-webkit-scrollbar,
    ::-moz-scrollbar {
        width: 0.2rem;
    }
}

/// 481 || Mobile
@media screen and (max-width: $breakpoint-mobile) {
    body {
        .landing-page {
            .navbar {
                padding-inline: 1rem;
            }

            .hero .page-title {
                font-size: 2.5rem;
            }
        }

        .main {
            .section {
                @include section-mobile;
            }

            .album-section {
                .albums-container .album {
                    .thumbnail {
                        border-radius: 0.5rem;
                    }

                    .album-title {
                        margin-bottom: 0.5rem;
                    }
                }

                .live-album {
                    width: 100%;

                    gap: 0.5rem;

                    .img-reel {
                        gap: 0.5rem;

                        padding: 0.5rem;
                        border-radius: 0.3rem;

                        .img-container {
                            border-radius: 0.1rem;
                        }
                    }

                    .carousel {
                        width: 100%;
                        border-radius: 0.3rem;
                    }
                }
            }
        }

        @include footer-mobile;
    }
}

/// Orientation
@media screen and (orientation: portrait) {
    body .main .section {
        min-height: fit-content;

        .section-main {
            min-height: fit-content;
        }
    }
}
