@import "config";
@import "utils";

body {
    width: 100vw;
    height: 100vh;
    background-color: $color-light;
    overflow-y: auto;

    .landing-page {
        position: relative;

        width: 100%;
        max-width: $breakpoint-large;
        height: fit-content;
        min-height: 100vh;
        margin: auto;

        .background {
            position: absolute;
            inset: 0;

            width: 100%;
            height: 100%;
            z-index: -20;

            .bg-img {
                position: absolute;
                inset: 0;

                width: 100%;
                height: 100%;
            }

            .filter-curtain {
                position: absolute;
                inset: 0;

                width: 100%;
                height: 100%;
                background-color: rgba(black, 0.6);
                backdrop-filter: blur(5px);
            }
        }

        @import "navbar";

        .hero {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            position: relative;

            width: 100%;
            height: calc(100vh - 100px);

            .hero-context {
                align-self: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                width: 50%;
                height: 100%;
                margin-left: 30px;

                .heading {
                    width: 50rem;
                    font-size: 5rem;
                    font-family: $font-heading;
                    font-weight: 700;
                    letter-spacing: 3px;
                    line-height: 5rem;
                    color: $color-light;
                }
                .heading:hover {
                    cursor: default;
                }

                .subheading {
                    width: 50rem;
                    font-size: xx-large;
                    font-weight: 400;
                    line-height: 30px;
                    color: rgba($color-light, 0.4);
                }

                .cta-group {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 100px;

                    width: 100%;
                    margin-top: 30px;
                    overflow: visible;

                    .btn:nth-child(1) {
                        @include btn-svg-primary;
                    }

                    .btn:nth-child(1):hover,
                    .btn:nth-child(1):focus {
                        @include btn-svg-primary-hover;

                        .text {
                            color: $color-light;
                        }

                        .svg-container > svg {
                            fill: $color-light;
                            stroke: $color-light;
                        }
                    }
                    .btn:nth-child(2) {
                        @include btn-primary-outline;

                        color: $color-light;
                    }

                    .btn:nth-child(2):hover,
                    .btn:nth-child(2):focus {
                        @include btn-primary-outline-hover;
                    }
                }
            }

            .hero-img {
                align-self: flex-end;
                width: 40%;
                margin-bottom: -1rem;
            }
        }
    }

    .main {
        width: 100%;

        .section {
            @include section;
        }

        .about {
            .section-main {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                width: 100%;
                max-width: $breakpoint-medium;
                height: fit-content;
                min-height: calc(100vh - 18rem);
                margin: 0px auto;

                .content-container {
                    width: 100%;

                    .heading {
                        font-size: 2.5rem;
                        font-weight: 400;
                        color: $color-primary;
                        margin-bottom: 0.3rem;
                    }

                    .context {
                        font-size: xx-large;
                        font-weight: 300;
                    }
                }

                .btn {
                    @include btn-svg-primary;
                }
                .btn:hover,
                .btn:focus {
                    @include btn-svg-primary-hover;
                }
            }
        }

        .availablity {
            background-color: lighten($color-primary, 50%);

            .section-main {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;

                width: 100%;
                height: fit-content;
                min-height: calc(100vh - 18rem);

                .card {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    width: 30rem;
                    background-color: $color-dark;
                    padding: 2rem;
                    border-radius: 1rem;
                    overflow: visible;
                    transition: all 300ms;

                    .svg-container {
                        position: absolute;
                        inset: 0;
                        left: 50%;

                        width: 6rem;
                        aspect-ratio: 1/1;
                        background-color: $color-light;
                        padding: 1rem;
                        border: 2px solid $color-dark;
                        border-radius: 50%;
                        transform: translate(-50%, -50%);
                        overflow: visible;

                        > svg {
                            width: 100%;
                            fill: $color-primary;
                        }
                    }

                    .heading {
                        font-size: 2.5rem;
                        font-family: $font-subheading;
                        font-weight: 400;
                        color: $color-light;
                        margin: 2rem 0;
                    }

                    .heading:hover {
                        cursor: default;
                    }

                    .branch-img {
                        width: 100%;
                        aspect-ratio: 16/12;

                        > img {
                            object-fit: fill;
                        }

                        > img:nth-child(1) {
                            transform: translateY(-50px);
                        }
                    }

                    .context {
                        font-size: 2rem;
                        font-weight: 300;
                        line-height: 2.8rem;
                        color: $color-light;
                        text-align: center;
                        margin-top: 2rem;
                    }
                }

                .card:hover {
                    transform: translateY(-2rem);
                    box-shadow: 0 1rem 2rem $color-dark;
                    cursor: pointer;
                }
            }
        }

        .faculty {
            .section-main {
                display: flex;
                align-items: center;

                width: 100%;
                height: fit-content;
                min-height: calc(100% - 18rem);
                margin: auto;
                overflow: visible;

                .slider {
                    position: relative;

                    width: 100rem;
                    height: 47rem;
                    border-radius: 2rem;
                    margin: 6rem auto;
                    box-shadow: 0 0 1.5rem rgba($color-dark, 0.3);
                    overflow: visible;

                    .slider-modes {
                        position: absolute;
                        inset: 0;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;

                        width: 100%;
                        overflow: visible;
                        transition: all 300ms;

                        .mode {
                            @include btn-primary-outline;

                            width: 18rem;
                            font-weight: 600;
                            letter-spacing: 1px;
                            text-align: center;
                            color: $color-primary;
                            background-color: $color-light;
                            z-index: 3;
                            transform: translateY(-50%);
                            transition: all 300ms;
                        }

                        .mode:hover {
                            cursor: pointer;
                        }

                        .active-mode {
                            color: $color-light;
                            background-color: $color-primary;
                            transform: translateY(-70%);
                        }
                    }

                    .dots {
                        position: absolute;
                        bottom: 2rem;
                        left: 50%;
                        display: flex;
                        flex-direction: row;
                        gap: 0.5rem;

                        transform: translate(-50%, -50%);
                        z-index: 5;

                        .dot {
                            width: 1rem;
                            height: 1rem;
                            background-color: rgba($color-dark, 0.2);
                            border-radius: 50%;
                            transition: all 200ms;
                        }

                        .dot:hover {
                            background-color: rgba($color-dark, 0.3);
                            cursor: pointer;
                        }

                        .active-dot {
                            background-color: rgba($color-dark, 0.5);
                        }
                        .active-dot:hover {
                            background-color: rgba($color-dark, 0.5);
                        }
                    }

                    .control {
                        position: absolute;
                        top: 50%;

                        width: 3rem;
                        height: 3rem;
                        z-index: 3;
                        transform: translateY(-50%);

                        > svg {
                            width: 100%;
                            height: 100%;
                            fill: rgba($color-primary, 0.6);
                            stroke: rgba($color-primary, 0.6);
                            transition: all 200ms;
                        }
                    }
                    .control:hover {
                        cursor: pointer;

                        > svg {
                            width: 100%;
                            height: 100%;
                            fill: $color-primary;
                            stroke: $color-primary;
                        }
                    }
                    .prev {
                        left: 2rem;
                    }
                    .next {
                        right: 2rem;
                    }

                    .slides-container {
                        position: absolute;
                        inset: 0;

                        width: 100%;
                        height: 100%;

                        .slide {
                            position: absolute;
                            inset: 0;
                            display: flex;
                            flex-direction: row;
                            gap: 2rem;

                            width: 100%;
                            height: 100%;
                            padding: 5rem 8rem;
                            transition: all 500ms ease;

                            .pfp-container {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;

                                width: 15rem;
                                height: 100%;

                                .pfp {
                                    width: 12rem;
                                    height: 12rem;
                                    border: 2px solid $color-primary;
                                    border-radius: 50%;
                                }
                            }

                            .context-container {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;

                                width: 100%;
                                height: 100%;
                                padding: 2rem 0;

                                .subheading {
                                    font-size: 1.5rem;
                                    font-weight: 600;
                                    text-transform: uppercase;
                                    letter-spacing: 1px;
                                    color: $color-primary;
                                }
                                .heading {
                                    font-size: 3rem;
                                    font-family: $font-subheading;
                                    font-weight: 900;
                                    text-transform: capitalize;
                                    letter-spacing: 2px;
                                }
                                .context {
                                    font-size: 2rem;
                                    font-weight: 400;
                                    word-spacing: 2px;
                                    line-height: 2.5rem;
                                    margin: 3rem 0;
                                }
                                .contacts {
                                    display: flex;
                                    flex-direction: row;
                                    gap: 5rem;

                                    .contact {
                                        font-size: 1.5rem;
                                        font-weight: 800;
                                        letter-spacing: 2px;
                                    }
                                }
                            }
                        }

                        .dummy-slide {
                            background: rgb(209, 205, 205);
                            background: linear-gradient(
                                125deg,
                                rgba(209, 205, 205, 1) 20%,
                                rgba(252, 252, 252, 1) 80%
                            );
                            z-index: -1;
                            border-radius: 2rem;
                        }
                    }
                }
            }
        }

        .cta-section {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            width: 100%;
            max-width: $breakpoint-large;
            height: 20rem;
            background-color: darken($color-primary, 10%);
            margin: auto;

            .gradiant {
                position: absolute;
                inset: 0;

                height: 100%;
            }

            .gradiant:nth-child(1) {
                width: 70%;
                background-color: $color-primary;
                clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
                z-index: 2;
            }
            .gradiant:nth-child(2) {
                width: 90%;
                background-color: darken($color-primary, 5%);
                clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
                z-index: 1;
            }

            .title {
                font-size: 6rem;
                font-family: $font-subheading;
                font-weight: 900;
                text-transform: capitalize;
                line-height: 8rem;
                color: $color-light;
                z-index: 3;
            }

            .title:hover {
                cursor: default;
            }

            .cta {
                @include btn-svg-secondary;

                // margin-right: 5rem;
                z-index: 3;

                .text {
                    font-size: 2rem;
                }

                .svg-container {
                    width: 2rem;
                    height: 2rem;
                }
            }

            .cta:hover {
                @include btn-svg-secondary-hover;

                .text {
                    color: $color-light;
                }
                .svg-container > svg {
                    fill: $color-light;
                    stroke: $color-light;
                }
            }
        }

        .statistics {
            height: fit-content;
            min-height: fit-content;

            .section-main {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;

                width: 100%;

                .counters {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;

                    width: 100%;
                    margin-top: 3rem;

                    .counter {
                        .number {
                            font-size: 4rem;
                            font-family: $font-subheading;
                            font-weight: 900;
                            color: $color-dark;
                            margin: 0 auto;
                        }
                        .label {
                            font-size: 1.2rem;
                            font-weight: 600;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
    }

    @import "footer";
}
