@import "config";
@import "utils";

body {
    width: 100vw;
    height: 100vh;
    background-color: $color-light;
    overflow-y: auto;

    .landing-page {
        position: relative;

        width: 100%;
        height: 100%;

        .background {
            position: absolute;
            inset: 0;

            width: 100%;
            height: 100%;
            z-index: -20;

            .bg-img {
                position: absolute;
                inset: 0;

                width: 100%;
                height: 100%;
            }

            .filter-curtain {
                position: absolute;
                inset: 0;

                width: 100%;
                height: 100%;
                background-color: rgba(black, 0.6);
                backdrop-filter: blur(5px);
            }
        }

        @import "navbar";

        .hero {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            position: relative;

            width: 100%;
            height: calc(100vh - 100px);

            .hero-context {
                align-self: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                width: 50%;
                height: 100%;
                margin-left: 30px;

                .heading {
                    width: 800px;
                    font-size: 75px;
                    font-family: $font-heading;
                    font-weight: 900;
                    letter-spacing: 3px;
                    line-height: 80px;
                    color: $color-light;
                }
                .heading:hover {
                    cursor: default;
                }

                .subheading {
                    width: 800px;
                    font-size: xx-large;
                    font-family: $font-subheading;
                    font-weight: 200;
                    line-height: 30px;
                    color: rgba($color-light, 0.4);
                }

                .cta-group {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 100px;

                    width: 100%;
                    margin-top: 30px;

                    .btn:nth-child(1) {
                        @include btn-primary;
                    }

                    .btn:nth-child(1):hover,
                    .btn:nth-child(1):focus {
                        @include btn-primary-hover;
                    }
                    .btn:nth-child(2) {
                        @include btn-primary-outline;
                    }

                    .btn:nth-child(2):hover,
                    .btn:nth-child(2):focus {
                        @include btn-primary-outline-hover;
                    }
                }
            }

            .hero-img {
                align-self: flex-end;
                width: 40%;
                margin-bottom: -1rem;
            }
        }
    }

    .main {
        width: 100%;

        .section {
            width: 100%;
            height: 100vh;
            padding: 5rem 0;

            .section-svg {
                width: 5rem;
                height: 5rem;
                fill: $color-primary;
                margin: 0 auto;
            }

            .title {
                width: 100%;
                font-size: 4rem;
                font-family: $font-subheading;
                font-weight: 600;
                text-align: center;
                color: $color-primary;
            }

            .title:hover {
                cursor: default;
            }
        }

        .about {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            width: 1280px;
            margin: 0px auto;

            .content-container {
                width: 100%;
                margin-bottom: 50px;

                .heading {
                    font-size: 40px;
                    font-family: $font-subheading;
                    font-weight: 400;
                    color: $color-primary;
                    margin-bottom: 10px;
                }

                .context {
                    font-size: xx-large;
                    font-weight: 300;
                }
            }
            .btn {
                @include btn-primary;
            }
            .btn:hover,
            .btn:focus {
                @include btn-primary-hover;
            }
        }

        .availablity {
            display: flex;
            flex-direction: column;
            align-items: center;

            background-color: lighten($color-primary, 50%);

            > .title {
                margin-top: 2rem;
            }

            .house {
                width: 100px;
                fill: $color-primary;
            }

            .cards-container {
                flex: 1;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;

                width: 100%;

                .card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    width: 450px;
                    height: 600px;
                    background-color: $color-dark;
                    padding: 0px 20px;
                    border-radius: 10px;
                    overflow: visible;
                    transition: all 300ms;

                    .svg-container {
                        width: 100px;
                        background-color: $color-light;
                        padding: 10px;
                        border: 2px solid $color-dark;
                        border-radius: 50%;
                        margin-top: -50px;
                        overflow: visible;

                        > svg {
                            width: 100%;
                            fill: $color-primary;
                        }
                    }

                    .heading {
                        font-size: 40px;
                        font-family: $font-subheading;
                        font-weight: 400;
                        color: $color-light;
                        padding: 30px 0px;
                    }

                    .heading:hover {
                        cursor: default;
                    }

                    .branch-img {
                        width: 100%;
                        height: 250px;

                        > img {
                            object-fit: fill;
                        }

                        > img:nth-child(1) {
                            transform: translateY(-50px);
                        }
                    }

                    .context {
                        font-size: 2rem;
                        font-weight: 300;
                        color: $color-light;
                        text-align: center;
                        margin-top: 30px;
                    }
                }

                .card:hover {
                    transform: translateY(-20px);
                    box-shadow: 0 0 60px black;
                }
            }
        }

        .faculty {
            padding: 5rem;

            .title {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 3rem;

                .section-svg {
                    margin: 0;
                    padding: 0;
                }
            }

            .slider {
                position: relative;

                width: 100rem;
                height: 47rem;
                // border: 2px solid $color-primary;
                border-radius: 2rem;
                margin: 6rem auto;
                box-shadow: 0 0 1.5rem rgba($color-dark, 0.3);
                overflow: visible;

                .slider-modes {
                    position: absolute;
                    inset: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;

                    width: 100%;
                    overflow: visible;
                    transition: all 300ms;

                    .mode {
                        @include btn-primary-outline;

                        width: 18rem;
                        font-weight: 600;
                        letter-spacing: 1px;
                        text-align: center;
                        color: $color-primary;
                        background-color: $color-light;
                        z-index: 3;
                        transform: translateY(-50%);
                        transition: all 300ms;
                    }

                    .mode:hover {
                        cursor: pointer;
                    }

                    .active-mode {
                        color: $color-light;
                        background-color: $color-primary;
                        transform: translateY(-70%);
                    }
                }

                .dots {
                    position: absolute;
                    bottom: 2rem;
                    left: 50%;
                    display: flex;
                    flex-direction: row;
                    gap: 0.5rem;

                    transform: translate(-50%, -50%);
                    z-index: 5;

                    .dot {
                        width: 1rem;
                        height: 1rem;
                        background-color: rgba($color-dark, 0.2);
                        border-radius: 50%;
                        transition: all 200ms;
                    }

                    .dot:hover {
                        background-color: rgba($color-dark, 0.3);
                        cursor: pointer;
                    }

                    .active-dot {
                        background-color: rgba($color-dark, 0.5);
                    }
                    .active-dot:hover {
                        background-color: rgba($color-dark, 0.5);
                    }
                }

                .control {
                    position: absolute;
                    top: 50%;

                    font-size: 3rem;
                    color: rgba($color-primary, 0.6);
                    background-color: rgba($color-dark, 0.2);
                    padding: 0.2rem 0.5rem;
                    border-radius: 50%;
                    z-index: 3;
                    transform: translateY(-50%);
                    transition: all 200ms;
                }
                .control:hover {
                    color: $color-primary;
                    background-color: rgba($color-dark, 0.3);
                    cursor: pointer;
                }
                .prev {
                    left: 2rem;
                }
                .next {
                    right: 2rem;
                }

                .slides-container {
                    position: absolute;
                    inset: 0;

                    width: 100%;
                    height: 100%;

                    .slide {
                        position: absolute;
                        inset: 0;
                        display: flex;
                        flex-direction: row;
                        gap: 2rem;

                        width: 100%;
                        height: 100%;
                        padding: 5rem 8rem;
                        transition: all 500ms ease;

                        .pfp-container {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            width: 15rem;
                            height: 100%;

                            .pfp {
                                width: 12rem;
                                height: 12rem;
                                border: 2px solid $color-primary;
                                border-radius: 50%;
                            }
                        }

                        .context-container {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            width: 100%;
                            height: 100%;
                            padding: 2rem 0;

                            .subheading {
                                font-size: 1.5rem;
                                font-weight: 600;
                                text-transform: uppercase;
                                letter-spacing: 1px;
                                color: $color-primary;
                                margin-bottom: -0.7rem;
                            }
                            .heading {
                                font-size: 3rem;
                                font-family: $font-subheading;
                                font-weight: 800;
                                text-transform: capitalize;
                                letter-spacing: 2px;
                            }
                            .context {
                                font-size: 2rem;
                                font-weight: 400;
                                word-spacing: 2px;
                                line-height: 2.5rem;
                                margin: 3rem 0;
                            }
                            .contacts {
                                display: flex;
                                flex-direction: row;
                                gap: 5rem;

                                .contact {
                                    font-size: 1.5rem;
                                    font-weight: 800;
                                    letter-spacing: 2px;
                                }
                            }
                        }
                    }

                    .dummy-slide {
                        background: rgb(209, 205, 205);
                        background: linear-gradient(
                            125deg,
                            rgba(209, 205, 205, 1) 20%,
                            rgba(252, 252, 252, 1) 80%
                        );
                        z-index: -1;
                        border-radius: 2rem;
                    }
                }
            }
        }

        .cta-section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            width: 100%;
            height: 20rem;
            background-color: darken($color-primary, 10%);

            .title {
                width: 80%;
                height: 100%;
                font-size: 6rem;
                font-family: $font-heading;
                font-weight: 900;
                text-transform: capitalize;
                line-height: 8rem;
                color: $color-light;
                background-color: $color-primary;
                padding: 1.5rem 10rem;
                clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
            }

            .title:hover {
                cursor: default;
            }

            .cta {
                @include btn-secondary;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                font-size: 3rem;
                margin-right: 10rem;
            }

            .cta:hover {
                @include btn-secondary-hover;

                font-size: 3rem;
                margin-right: 10rem;
            }
        }

        .statistics {
            display: flex;
            flex-direction: column;
            gap: 3rem;

            width: 100%;
            height: fit-content;
            text-align: center;

            .section-svg {
                width: 20rem;
                margin: 0 auto;
            }

            > .subheading {
                width: 30ch;
                font-size: x-large;
                font-family: $font-text;
                font-weight: 400;
                text-align: center;
                color: $color-dark;
                margin: 0px auto;
                margin-top: -30px;
            }

            .counters {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                width: 100%;
                margin-top: 3rem;

                .counter {
                    .number {
                        font-size: 4rem;
                        font-family: $font-subheading;
                        font-weight: 900;
                        color: $color-dark;
                        margin: 0 auto;
                    }
                    .label {
                        font-size: 1.2rem;
                        font-weight: 600;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }

    @import "footer";
}
