@import "config";
@import "utils";
@import "navbar";
@import "footer";

body {
    width: 100vw;
    height: 100dvh;
    background-color: $color-light;
    overflow-y: auto;

    .landing-page {
        position: relative;

        width: 100%;
        height: 100vh;
        margin: auto;

        .background {
            position: absolute;
            inset: 0;

            width: 100%;
            height: 100%;
            z-index: -20;

            .bg-img {
                position: absolute;
                inset: 0;

                width: 100%;
                height: 100%;
            }

            .filter-curtain {
                position: absolute;
                inset: 0;

                width: 100%;
                height: 100%;
                background-color: rgba(black, 0.68);
                backdrop-filter: blur(5px);
            }
        }

        @include navbar;

        .hero {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            position: relative;

            width: 100%;
            height: calc(100vh - 5rem);

            .hero-context {
                align-self: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                width: 50%;
                height: 100%;
                margin-left: 2rem;

                .heading {
                    width: 40rem;
                    font-size: $fs-2;
                    font-family: $font-heading;
                    font-weight: 700;
                    letter-spacing: 2px;
                    line-height: 1;
                    color: $color-light;
                }
                .heading:hover {
                    cursor: default;
                }

                .subheading {
                    width: 40rem;
                    font-size: $fs-6;
                    font-weight: 400;
                    line-height: 1.2;
                    color: rgba($color-light, 0.4);
                }

                .cta-group {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 6rem;

                    width: 40rem;
                    padding-right: 3rem;
                    margin-top: 2rem;
                    overflow: visible;

                    .btn:nth-child(1) {
                        @include btn-svg($color-light, $color-primary);
                    }
                    .btn:nth-child(1):hover,
                    .btn:nth-child(1):focus {
                        @include btn-svg-hover($color-light);
                    }

                    .btn:nth-child(2) {
                        @include btn-outline($color-light, $color-primary);
                    }
                    .btn:nth-child(2):hover,
                    .btn:nth-child(2):focus {
                        @include btn-outline-hover(
                            $color-light,
                            $color-primary
                        );
                    }
                }
            }

            .hero-img {
                align-self: flex-end;
                width: 40%;
                margin-bottom: -1rem;
            }
        }
    }

    .main {
        width: 100%;
        max-width: $breakpoint-large;
        margin-inline: auto;

        .section {
            @include section;
        }

        .about {
            .section-main {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                gap: 2rem;

                .content-container {
                    width: 100%;
                    max-width: $breakpoint-medium;

                    .heading {
                        font-size: $fs-4;
                        font-weight: 500;
                        color: $color-primary;
                        line-height: 1.5;
                    }

                    .context {
                        font-size: $fs-5;
                        font-weight: 400;
                        line-height: 1.5;
                        margin: max(1vh, 0.3rem) 0;
                    }
                }

                .btn {
                    @include btn-svg($color-light, $color-primary);
                }

                .btn:hover,
                .btn:focus {
                    @include btn-svg-hover($color-primary);
                }
            }
        }

        .availablity {
            background-color: lighten($color-primary, 50%);

            .section-main {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;

                overflow: visible;

                .card {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    width: 30rem;
                    background-color: $color-dark;
                    padding: 2rem;
                    border-radius: 1rem;
                    overflow: visible;
                    transition: all 300ms;

                    .svg-container {
                        position: absolute;
                        inset: 0;
                        left: 50%;

                        width: 6rem;
                        aspect-ratio: 1/1;
                        background-color: $color-light;
                        padding: 1rem;
                        border: 2px solid $color-dark;
                        border-radius: 50%;
                        transform: translate(-50%, -50%);
                        overflow: visible;

                        > svg {
                            width: 100%;
                            fill: $color-primary;
                        }
                    }

                    .heading {
                        font-size: $fs-4;
                        font-family: $font-subheading;
                        font-weight: 400;
                        color: $color-light;
                        margin: 2rem 0;
                        margin-top: 3rem;
                    }

                    .heading:hover {
                        cursor: default;
                    }

                    .branch-img {
                        width: 100%;
                        aspect-ratio: 16/12;
                    }

                    .context {
                        font-size: $fs-5;
                        font-weight: 400;
                        letter-spacing: 1px;
                        line-height: 2.5rem;
                        color: $color-light;
                        text-align: center;
                        margin-top: 2rem;
                    }
                }

                .card:nth-child(1) .branch-img > img {
                    transform: translateY(-50px);
                }

                .card:hover {
                    transform: translateY(-1rem);
                    box-shadow: 0 0rem 1rem rgba($color-dark, 0.6);
                }
            }
        }

        .faculty {
            .section-main {
                display: flex;
                justify-content: center;
                align-items: center;

                overflow: visible;

                .slider {
                    position: relative;

                    width: 100%;
                    max-width: $breakpoint-medium;
                    aspect-ratio: 16/8;
                    border-radius: 2rem;
                    box-shadow: 0 0 1.5rem rgba($color-dark, 0.3);
                    overflow: visible;

                    .slider-modes {
                        position: absolute;
                        inset: 0;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;

                        width: 100%;
                        overflow: visible;

                        .mode {
                            @include btn-outline(
                                $color-primary,
                                $color-primary
                            );

                            width: 20%;
                            max-width: 18rem;
                            font-size: $fs-5;
                            font-weight: 500;
                            background-color: $color-light;
                            padding-inline: 0;
                            outline-offset: 0;
                            z-index: 3;
                            transform: translateY(-50%);
                            transition: all 300ms ease;
                        }

                        .mode:hover {
                            outline-offset: 0.3rem;
                            cursor: pointer;
                        }

                        .active-mode {
                            background-color: $color-primary;
                            color: $color-light;
                            outline-offset: 0;
                            transform: translateY(-60%);
                        }
                    }

                    .dots {
                        position: absolute;
                        bottom: 2rem;
                        left: 50%;
                        display: flex;
                        flex-direction: row;
                        gap: 0.8rem;

                        transform: translate(-50%, -50%);
                        z-index: 5;

                        .dot {
                            width: 1rem;
                            height: 1rem;
                            background-color: rgba($color-dark, 0.2);
                            border-radius: 50%;
                            transition: all 200ms;
                        }

                        .dot:hover {
                            background-color: rgba($color-dark, 0.3);
                            cursor: pointer;
                        }

                        .active-dot {
                            background-color: rgba($color-dark, 0.5);
                        }
                        .active-dot:hover {
                            background-color: rgba($color-dark, 0.5);
                        }
                    }

                    .control {
                        position: absolute;
                        top: 50%;

                        width: 3rem;
                        height: 3rem;
                        z-index: 3;
                        transform: translateY(-50%);

                        > svg {
                            width: 100%;
                            height: 100%;
                            fill: rgba($color-primary, 0.6);
                            stroke: rgba($color-primary, 0.6);
                            transition: all 200ms;
                        }
                    }
                    .control:hover {
                        cursor: pointer;

                        > svg {
                            width: 100%;
                            height: 100%;
                            fill: $color-primary;
                            stroke: $color-primary;
                        }
                    }
                    .prev {
                        left: 1.5rem;
                    }
                    .next {
                        right: 1.5rem;
                    }

                    .slides-container {
                        position: absolute;
                        inset: 0;

                        width: 100%;
                        height: 100%;

                        .slide {
                            position: absolute;
                            inset: 0;
                            display: flex;
                            flex-direction: row;
                            gap: 1.5rem;

                            width: 100%;
                            height: 100%;
                            padding: 3rem 5rem;
                            transition: all 500ms ease;

                            .pfp-container {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;

                                width: 15rem;
                                height: 100%;

                                .pfp {
                                    width: 90%;
                                    aspect-ratio: 1/1;
                                    border: 2px solid $color-primary;
                                    border-radius: 50%;
                                }
                            }

                            .context-container {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;

                                width: 100%;
                                height: 100%;

                                .subheading {
                                    font-size: $fs-6;
                                    font-weight: 500;
                                    text-transform: uppercase;
                                    letter-spacing: 1px;
                                    color: $color-primary;
                                }
                                .heading {
                                    font-size: $fs-3;
                                    font-family: $font-subheading;
                                    font-weight: 900;
                                    text-transform: capitalize;
                                    letter-spacing: 2px;
                                }
                                .context {
                                    font-size: $fs-5;
                                    font-weight: 400;
                                    word-spacing: 2px;
                                    line-height: 1.2;
                                    margin: 2rem 0;
                                }
                                .contacts {
                                    display: flex;
                                    flex-direction: row;
                                    gap: 3rem;

                                    .contact {
                                        font-size: $fs-6;
                                        font-weight: 600;
                                        letter-spacing: 2px;
                                    }
                                }
                            }
                        }

                        .dummy-slide {
                            background: rgb(209, 205, 205);
                            background: linear-gradient(
                                125deg,
                                rgba(209, 205, 205, 1) 20%,
                                rgba(252, 252, 252, 1) 80%
                            );
                            z-index: -1;
                            border-radius: 2rem;
                        }
                    }
                }
            }
        }

        .cta-section {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            width: 100%;
            max-width: $breakpoint-large;
            height: 20rem;
            background-color: darken($color-primary, 10%);
            margin: auto;

            .gradiant {
                position: absolute;
                inset: 0;

                height: 100%;
            }

            .gradiant:nth-child(1) {
                width: 70%;
                background-color: $color-primary;
                clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
                z-index: 2;
            }
            .gradiant:nth-child(2) {
                width: 90%;
                background-color: darken($color-primary, 5%);
                clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
                z-index: 1;
            }

            .title {
                font-size: $fs-1;
                font-family: $font-subheading;
                font-weight: 900;
                text-transform: capitalize;
                line-height: 1;
                color: $color-light;
                z-index: 3;
            }

            .title:hover {
                cursor: default;
            }

            .cta {
                @include btn-svg($color-light, $color-secondary);

                z-index: 3;
            }

            .cta:hover {
                @include btn-svg-hover($color-light);
            }
        }

        .statistics {
            height: fit-content;
            min-height: fit-content;

            .section-main {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;

                width: 100%;
                min-height: fit-content;
                margin-top: 3rem;

                .counters {
                    width: 100%;

                    .counter {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        width: 25%;
                        float: left;

                        .number {
                            font-size: $fs-3;
                            font-family: $font-subheading;
                            font-weight: 900;
                            color: $color-dark;
                            margin: 0 auto;
                        }
                        .label {
                            font-size: $fs-6;
                            font-weight: 500;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
    }

    @include footer;
}

////////////// Responsiveness.

/// 1640px
@media screen and (max-width: $breakpoint-medium) {
    body {
        .landing-page {
            @include navbar-medium;

            .hero .hero-context {
                width: 50%;
                height: 100%;
                padding-left: 2rem;

                .heading {
                    font-size: $fs-3;
                }

                .cta-group {
                    gap: 4rem;

                    margin-top: 1rem;

                    .btn:nth-child(1) {
                        @include btn-svg-medium($color-light, $color-primary);
                    }
                    .btn:nth-child(2) {
                        @include btn-outline-medium(
                            $color-light,
                            $color-primary
                        );
                    }
                }
            }
        }

        .main {
            .section {
                @include section-medium;
            }

            .about .section-main {
                max-width: $breakpoint-small;

                .content-container {
                    .heading {
                        font-size: $fs-5;
                    }

                    .context {
                        font-size: $fs-6;
                    }
                }

                .btn {
                    @include btn-svg-medium($color-light, $color-primary);
                }
            }

            .availablity .section-main {
                max-width: $breakpoint-small;
                margin-inline: auto;

                .card {
                    width: 20rem;
                    padding: 1rem 2rem;

                    .svg-container {
                        width: 4rem;
                        padding: 0.5rem;
                    }

                    .heading {
                        font-size: $fs-5;
                        margin-top: 3rem;
                        margin-bottom: 1.5rem;
                    }

                    .context {
                        font-size: $fs-6;
                        letter-spacing: 0;
                        line-height: 1.5;
                        margin-top: 1.5rem;
                    }
                }
            }

            .faculty .section-main .slider {
                .slider-modes {
                    .mode {
                        max-width: 15rem;
                        font-size: $fs-6;
                    }

                    .mode:hover {
                        outline-offset: 0.2rem;
                    }
                }

                .control {
                    width: 2.5rem;
                    height: 2.5rem;
                }
                .prev {
                    left: 1rem;
                }
                .next {
                    right: 1rem;
                }

                .slides-container .slide {
                    gap: 1rem;
                    padding: 5rem;

                    .pfp-container {
                        width: 10rem;

                        .pfp {
                            width: 90%;
                        }
                    }

                    .context-container {
                        .subheading {
                            font-size: $fs-6;
                        }
                        .heading {
                            font-size: $fs-4;
                        }
                        .context {
                            font-size: $fs-6;
                            margin: 1rem 0;
                        }
                        .contacts {
                            gap: 2rem;

                            .contact {
                                font-size: $fs-6;
                            }
                        }
                    }
                }
            }

            .cta-section {
                height: 12rem;

                .title {
                    font-size: $fs-3;
                }

                .cta {
                    @include btn-svg-medium($color-light, $color-secondary);
                }
            }

            .statistics {
                height: fit-content;
                min-height: fit-content;

                .section-main {
                    min-height: fit-content;

                    .counters .counter {
                        .number {
                            font-size: $fs-4;
                        }
                        .label {
                            font-size: $fs-6;
                        }
                    }
                }
            }
        }

        @include footer-medium;
    }
}

/// 1280px
@media screen and (max-width: $breakpoint-small) {
    body {
        .landing-page {
            @include navbar-small;

            .hero {
                height: calc(100vh - 3rem);

                .hero-context {
                    padding-left: 1rem;

                    .heading {
                        width: 30rem;
                    }

                    .subheading {
                        width: 30rem;
                        font-size: $fs-8;
                    }

                    .cta-group {
                        gap: 4rem;

                        width: 30rem;
                        padding-right: 0;

                        .btn:nth-child(1) {
                            @include btn-svg-small(
                                $color-light,
                                $color-primary
                            );
                        }

                        .btn:nth-child(2) {
                            @include btn-outline-small(
                                $color-light,
                                $color-primary
                            );
                        }
                    }
                }
            }
        }

        .main {
            width: 100%;

            .section {
                @include section-small;
            }

            .about {
                .section-main {
                    max-width: $breakpoint-tablet;

                    .content-container {
                        .heading {
                            font-size: $fs-7;
                        }

                        .context {
                            font-size: $fs-8;
                        }
                    }

                    .btn {
                        @include btn-svg-small($color-light, $color-primary);
                    }
                }
            }

            .availablity .section-main {
                max-width: $breakpoint-tablet;
                margin-inline: auto;
                padding: 0.5rem 0;

                .card {
                    width: 18rem;
                    padding: 1rem;

                    .svg-container {
                        width: 3rem;
                        padding: 0.4rem;
                    }

                    .heading {
                        font-size: $fs-7;
                        margin-top: 2rem;
                        margin-bottom: 1rem;
                    }

                    .context {
                        font-size: $fs-8;
                        margin-top: 1rem;
                    }
                }
            }

            .faculty .section-main {
                max-width: $breakpoint-tablet;
                padding: 1rem 0;

                .slider {
                    width: 95%;

                    .slider-modes {
                        .mode {
                            font-size: $fs-8;
                        }
                    }

                    .dots {
                        bottom: 1rem;

                        .dot {
                            width: 0.6rem;
                            height: 0.6rem;
                        }
                    }

                    .control {
                        width: 2rem;
                        height: 2rem;
                    }
                    .prev {
                        left: 0.8rem;
                    }
                    .next {
                        right: 0.8rem;
                    }

                    .slides-container .slide {
                        gap: 0.5rem;
                        padding: 4rem;

                        .pfp-container {
                            width: 8rem;
                        }

                        .context-container {
                            .subheading {
                                font-size: $fs-8;
                            }
                            .heading {
                                font-size: $fs-6;
                            }
                            .context {
                                font-size: $fs-8;
                                margin: 0.8rem 0;
                            }
                            .contacts {
                                gap: 1rem;

                                .contact {
                                    font-size: $fs-8;
                                }
                            }
                        }
                    }
                }
            }

            .cta-section {
                height: 10rem;

                .title {
                    font-size: $fs-4;
                }

                .cta {
                    @include btn-svg-small($color-light, $color-secondary);
                }
            }

            .statistics {
                height: fit-content;
                min-height: fit-content;

                .section-main {
                    min-height: fit-content;

                    .counters .counter {
                        .number {
                            font-size: $fs-5;
                        }
                        .label {
                            font-size: $fs-8;
                        }
                    }
                }
            }
        }

        @include footer-small;
    }
    ::-webkit-scrollbar,
    ::-moz-scrollbar {
        width: 0.5rem;
    }
}

/// 1024px || Tablet
@media screen and (max-width: $breakpoint-tablet) {
    body {
        .landing-page {
            @include navbar-tablet;

            .hero {
                height: calc(100vh - 2.5rem);

                .hero-context {
                    width: 100%;
                    max-width: $breakpoint-mobile;
                    padding-left: 0;
                    margin-left: 0;
                    margin-inline: auto;

                    .heading {
                        width: 100%;
                        font-size: $fs-4;
                        text-align: center;
                    }

                    .subheading {
                        width: 100%;
                        font-size: $fs-8;
                        text-align: center;
                    }

                    .cta-group {
                        gap: 4rem;

                        width: 100%;
                        max-width: $breakpoint-tablet;
                        margin-top: 1rem;
                        padding-right: 0;

                        .btn:nth-child(1) {
                            @include btn-svg-tablet(
                                $color-light,
                                $color-primary
                            );
                        }

                        .btn:nth-child(2) {
                            @include btn-outline-tablet(
                                $color-light,
                                $color-primary
                            );
                        }
                    }
                }

                .hero-img {
                    display: none;
                }
            }
        }

        .main {
            .section {
                @include section-tablet;
            }

            .about .section-main {
                max-width: $breakpoint-mobile;
                gap: 3rem;

                .content-container {
                    .heading {
                        font-size: $fs-7;
                    }

                    .context {
                        font-size: $fs-8;
                    }
                }

                .btn {
                    @include btn-svg-tablet($color-light, $color-primary);
                }
            }

            .availablity .section-main .card {
                width: 15rem;

                .svg-container {
                    width: 3rem;
                    height: 3rem;
                    padding: 0.5rem;
                    border-width: 1px;
                }

                .heading {
                    font-size: $fs-7;
                    margin-top: 2rem;
                    margin-bottom: 1rem;
                }

                .context {
                    font-size: $fs-8;
                }
            }

            .faculty .section-main {
                padding-top: 1rem;

                .slider {
                    aspect-ratio: 16/9;
                    border-radius: 1rem;

                    .slider-modes .mode {
                        width: 25%;
                        font-size: $fs-8;
                        letter-spacing: 0;
                        padding: 0.3rem;
                        border-width: 0.1rem;
                        border-radius: 0.4rem;
                    }

                    .dots {
                        bottom: 0.4rem;
                        gap: 0.4rem;

                        .dot {
                            width: 0.4rem;
                            height: 0.4rem;
                        }
                    }

                    .control {
                        width: 1.2rem;
                        height: 1.2rem;
                    }
                    .prev {
                        left: 0.5rem;
                    }
                    .next {
                        right: 0.5rem;
                    }

                    .slides-container .slide {
                        gap: 0.5rem;
                        padding: 1rem 3rem;

                        .pfp-container {
                            width: 4rem;

                            .pfp {
                                border-width: 0.001rem;
                            }
                        }

                        .context-container {
                            .subheading {
                                font-size: $fs-9;
                                letter-spacing: 0;
                            }
                            .heading {
                                font-size: $fs-7;
                            }
                            .context {
                                font-size: $fs-9;
                                letter-spacing: 0;
                                margin: 0.4rem 0;
                            }
                            .contacts {
                                gap: 0.4rem;

                                .contact {
                                    font-size: $fs-9;
                                    font-weight: 600;
                                    letter-spacing: 0;
                                }
                            }
                        }
                    }
                }
            }

            .cta-section {
                height: 8rem;

                .title {
                    font-size: $fs-5;
                }

                .cta {
                    @include btn-svg-tablet($color-light, $color-secondary);
                }
            }

            .statistics {
                height: fit-content;
                min-height: fit-content;

                .section-main {
                    min-height: fit-content;

                    .counters .counter {
                        width: 50%;

                        .number {
                            font-size: $fs-7;
                        }
                        .label {
                            font-size: $fs-9;
                        }
                    }

                    .counters .counter:nth-last-child(3),
                    .counters .counter:nth-last-child(4) {
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }

        @include footer-tablet;
    }
    ::-webkit-scrollbar,
    ::-moz-scrollbar {
        width: 0.2rem;
    }
}

// 800px || Tablet
@media screen and (max-width: 800px) {
    body .main {
        .availablity .section-main {
            flex-direction: column;
            row-gap: 3rem;
        }

        .faculty .section-main {
            padding-top: 1rem;

            .slider {
                aspect-ratio: 16/20;
                min-height: 25rem;

                .slider-modes .mode {
                    width: 30%;
                }

                .slides-container .slide {
                    flex-direction: column;
                    padding: 2rem 3rem;

                    .pfp-container {
                        width: 100%;
                        height: 6rem;

                        .pfp {
                            width: 5rem;
                        }
                    }

                    .context-container .contacts {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

// 481px || Mobile
@media screen and (max-width: $breakpoint-mobile) {
    body {
        .landing-page {
            .navbar {
                padding-inline: 1rem;
            }

            .hero {
                .hero-context {
                    max-width: 320px;
                    .heading {
                        font-size: $fs-4;
                        letter-spacing: 0;
                    }

                    .subheading {
                        font-size: $fs-9;
                        padding: 0.5rem;
                    }

                    .cta-group {
                        gap: 1rem;

                        .btn:nth-child(1) {
                            @include btn-svg-tablet(
                                $color-light,
                                $color-primary
                            );
                        }

                        .btn:nth-child(2) {
                            @include btn-outline-tablet(
                                $color-light,
                                $color-primary
                            );
                        }
                    }
                }
            }
        }

        .main {
            .section {
                @include section-mobile;
            }

            .about {
                .section-main {
                    max-width: 320px;

                    .content-container {
                        .heading {
                            font-size: $fs-9;
                        }

                        .context {
                            font-size: $fs-10;
                        }
                    }

                    .btn {
                        @include btn-svg-tablet($color-light, $color-primary);
                    }
                }
            }

            .availablity .section-main {
                .card {
                    width: 90%;
                    max-width: 15rem;

                    .svg-container {
                        width: 3rem;
                        padding: 0.5rem;
                        border-width: 1px;
                    }

                    .heading {
                        font-size: $fs-8;
                        margin: 1rem 0;
                    }

                    .branch-img {
                        margin: 0;
                    }

                    .context {
                        font-size: $fs-9;
                    }
                }
            }

            .faculty .section-main {
                padding-top: 1rem;

                .slider {
                    width: 100%;
                    max-width: 400px;
                    aspect-ratio: 9/12;
                    border-radius: 1rem;

                    .slider-modes {
                        .mode {
                            width: 30%;
                            font-size: $fs-10;
                            padding: 0.3rem 0;
                            border-width: 0.1rem;
                            border-radius: 0.4rem;
                        }
                    }

                    .slides-container .slide {
                        gap: 0;

                        padding: 2rem 2.5rem;

                        .pfp-container {
                            width: 100%;
                            height: 5rem;

                            .pfp {
                                width: 3rem;
                                height: 3rem;
                                border-width: 0.001rem;
                            }
                        }

                        .context-container {
                            .subheading {
                                font-size: $fs-10;
                            }
                            .heading {
                                font-size: $fs-9;
                            }
                            .context {
                                font-size: $fs-10;
                                line-height: 1.4;
                                margin: 1rem 0;
                            }
                            .contacts {
                                gap: 0.4rem;

                                .contact {
                                    font-size: $fs-10;
                                    font-weight: 600;
                                    letter-spacing: 0;
                                }
                            }
                        }
                    }
                }
            }

            .cta-section {
                height: 6rem;

                .title {
                    font-size: $fs-7;
                }

                .cta {
                    @include btn-svg-mobile($color-light, $color-secondary);
                }
            }

            .statistics {
                height: fit-content;
                min-height: fit-content;

                .section-main {
                    min-height: fit-content;
                    margin-top: 2rem;

                    .counters .counter {
                        width: 100%;
                        margin-bottom: 1.5rem;

                        .number {
                            font-size: $fs-8;
                        }
                        .label {
                            font-size: $fs-10;
                        }
                    }
                }
            }
        }

        @include footer-mobile;
    }
}

/// Orientation
@media screen and (orientation: portrait) {
    body .main .section {
        min-height: fit-content;

        .section-main {
            min-height: fit-content;
        }
    }
}
