@import "config";
@import "utils";
@import "navbar";
@import "footer";

body {
    width: 100vw;
    height: 100vh;
    background-color: $color-light;
    overflow-y: auto;

    .landing-page {
        position: relative;

        width: 100%;
        height: 50%;
        margin: auto;

        .background {
            position: absolute;
            inset: 0;

            width: 100%;
            height: 100%;
            z-index: -20;

            .bg-img {
                position: absolute;
                inset: 0;

                width: 100%;
                height: 100%;
            }

            .filter-curtain {
                position: absolute;
                inset: 0;

                width: 100%;
                height: 100%;
                background-color: rgba(black, 0.68);
                backdrop-filter: blur(5px);
            }
        }

        @include navbar;

        .hero {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            position: relative;

            width: 100%;
            height: calc(50vh - 5rem);

            .page-title {
                font-size: $fs-1;
                font-family: $font-heading;
                font-weight: 700;
                letter-spacing: 2px;
                line-height: 1;
                color: $color-light;
                transform: translateY(-50%);
            }
        }
    }

    .main {
        width: 100%;

        .section {
            @include section;
        }

        .results {
            height: fit-content;
            min-height: 60vh;

            .result-filters-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;

                width: 100%;
                margin: 3rem 0;
                overflow: visible;

                .context {
                    font-size: $fs-4;
                    font-weight: 600;
                }

                .result-filters {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 2rem;

                    overflow: visible;

                    .selection {
                        @include btn-outline($color-dark, $color-dark);

                        .option {
                            font-size: $fs-5;
                            font-weight: 400;
                        }
                    }
                    .selection:hover {
                        cursor: pointer;
                    }

                    .filter-btn {
                        @include btn-svg($color-light, $color-dark);

                        .svg-container > svg {
                            stroke-width: 0.2px;
                        }
                    }
                    .filter-btn:hover,
                    .filter-btn:focus {
                        @include btn-svg-hover($color-dark);
                    }
                }
            }

            .pdf-view-container {
                display: flex;
                flex-direction: column;
                align-items: center;

                width: 100%;

                .pdf-view {
                    width: 50%;
                    aspect-ratio: 9/10;
                    border-radius: 2rem;
                    margin: auto;
                }
            }
        }
    }

    @include footer;
}

////////////// Responsiveness.

/// 1640px
@media screen and (max-width: $breakpoint-medium) {
    body {
        .landing-page {
            @include navbar-medium;

            .hero {
                height: calc(50vh - calc(5rem));

                .page-title {
                    font-size: $fs-2;
                }
            }
        }

        .main {
            .section {
                @include section-medium;
            }

            .results .result-filters-container {
                .context {
                    font-size: $fs-5;
                }

                .result-filters {
                    .selection {
                        @include btn-outline-medium($color-dark, $color-dark);

                        .option {
                            font-size: $fs-6;
                        }
                    }

                    .filter-btn {
                        @include btn-svg-medium($color-light, $color-dark);
                    }
                }
            }
        }

        @include footer-medium;
    }
}

/// 1280px
@media screen and (max-width: $breakpoint-small) {
    body {
        @include footer-small;
    }
    ::-webkit-scrollbar {
        width: 0.5rem;
    }
}

/// 1024px || Tablet
@media screen and (max-width: $breakpoint-tablet) {
    body {
        .landing-page {
            @include navbar-tablet;

            .hero {
                height: calc(50vh - calc(2.5rem / 2));

                .page-title {
                    font-size: $fs-3;
                }
            }
        }

        .main {
            .section {
                @include section-tablet;
            }

            .results .result-filters-container {
                gap: 0.5rem;

                .context {
                    font-size: $fs-6;
                }

                .result-filters {
                    justify-content: center;
                    align-items: center;
                    gap: 0.5rem;
                    flex-wrap: wrap;

                    .selection {
                        @include btn-outline-tablet($color-dark, $color-dark);

                        .option {
                            font-size: $fs-8;
                        }
                    }

                    .filter-btn {
                        @include btn-svg-tablet($color-light, $color-dark);
                    }
                }
            }
        }

        @include footer-tablet;
    }

    ::-webkit-scrollbar {
        width: 0.2rem;
    }
}

/// 481 || Mobile
@media screen and (max-width: $breakpoint-mobile) {
    body {
        .landing-page {
            .navbar {
                padding-inline: 1rem;
            }

            .hero .page-title {
                font-size: calc($fs-4 + 0.5rem);
            }
        }

        .main {
            .section {
                @include section-mobile;
            }

            .results .result-filters-container {
                margin: 1.5rem 0;

                .context {
                    font-size: $fs-8;
                    text-align: center;
                }

                .result-filters {
                    .selection {
                        @include btn-outline-mobile($color-dark, $color-dark);

                        border-width: 1.5px;

                        .option {
                            font-size: $fs-9;
                        }
                    }

                    .filter-btn {
                        @include btn-svg-mobile($color-light, $color-dark);
                    }
                }
            }
        }

        @include footer-mobile;
    }
}
