@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");
body {
  width: 100vw;
  height: 100vh;
  background-color: #fcf7ff;
  overflow-y: auto;
}
body .landing-page {
  position: relative;
  width: 100%;
  height: 50%;
}
body .landing-page .background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -20;
}
body .landing-page .background .bg-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
body .landing-page .background .filter-curtain {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}
body .landing-page .navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 20px 100px;
  z-index: 10;
}
body .landing-page .navbar .brand-img {
  width: 120px;
}
body .landing-page .navbar .navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
body .landing-page .navbar .navigation li > .nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: xx-large;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgba(252, 247, 255, 0.6);
  transition: all 200ms;
}
body .landing-page .navbar .navigation li > .nav-item:hover {
  color: #fcf7ff;
  cursor: pointer;
}
body .landing-page .navbar .navigation .dropdown .nav-item::after {
  content: "⮟";
  font-size: large;
  margin: 5px;
}
body .landing-page .navbar .navigation .dropdown .subnav {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: #fcf7ff;
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 1rem;
  opacity: 0;
  transition: all 300ms;
}
body .landing-page .navbar .navigation .dropdown .subnav .nav-link {
  pointer-events: none;
  font-size: xx-large;
  font-weight: 400;
  color: #1e1927;
  transition: opacity 200ms;
}
body .landing-page .navbar .navigation .dropdown .subnav .nav-link:hover {
  color: #00b4ff;
}
body .landing-page .navbar .navigation .dropdown .active {
  opacity: 1;
}
body .landing-page .navbar .navigation .dropdown .active .nav-link {
  pointer-events: all;
}
body .landing-page .sticky-navbar {
  position: fixed;
  inset: 0;
  background-color: rgba(18, 15, 23, 0.9);
}
body .landing-page .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  width: 100%;
  height: calc(100% - 100px);
}
body .landing-page .hero .page-title {
  font-size: 8rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  line-height: 5rem;
  color: #fcf7ff;
  padding: 1rem 10rem;
  border-radius: 1rem;
  transform: translateY(-50px);
}
body .main {
  width: 100%;
}
body .main .section {
  width: 100%;
  height: 100vh;
  padding: 3rem;
}
body .main .section .section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 10rem;
  margin-bottom: 2rem;
}
body .main .section .section-header .title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
body .main .section .section-header .title-container .svg-container {
  width: 5rem;
  height: 5rem;
}
body .main .section .section-header .title-container .svg-container > svg {
  width: 100%;
  fill: #0e1ec4;
}
body .main .section .section-header .title-container .title {
  font-size: 4rem;
  font-family: "Comfortaa", sans-serif;
  font-weight: 600;
  color: #0e1ec4;
}
body .main .section .section-header .title-container .title:hover {
  cursor: default;
}
body .main .section .section-header .subtitle {
  font-size: xx-large;
  font-weight: 400;
}
body .main .about-section {
  height: fit-content;
}
body .main .about-section .section-header .title-container {
  gap: 1rem;
  margin-left: -2rem;
}
body .main .about-section .section-header .subtitle {
  font-weight: 300;
}
body .main .about-section .section-main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  max-width: 1440px;
  max-height: calc(100% - 10rem);
  margin: auto;
}
body .main .about-section .section-main .content-container {
  width: 100%;
}
body .main .about-section .section-main .content-container .heading {
  font-size: 3rem;
  font-weight: 400;
  color: #0e1ec4;
}
body .main .about-section .section-main .content-container .context {
  font-size: 2rem;
  font-weight: 400;
}
body .main .authorities-section {
  background-color: #edeefe;
}
body .main .authorities-section .section-main {
  max-width: 1440px;
  height: calc(100% - 12rem);
  margin: auto;
  overflow: visible;
}
body .main .authorities-section .section-main .cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: visible;
}
body .main .authorities-section .section-main .cards-container .card {
  width: 100%;
  height: fit-content;
  background-color: #1e1927;
  padding: 2rem 3rem;
  border-radius: 1rem;
  transition: all 300ms;
}
body .main .authorities-section .section-main .cards-container .card .head {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
body .main .authorities-section .section-main .cards-container .card .head .picture {
  width: 6rem;
  border-radius: 50%;
}
body .main .authorities-section .section-main .cards-container .card .head .headings .heading {
  font-size: larger;
  font-weight: 400;
  text-transform: uppercase;
  color: #00b4ff;
}
body .main .authorities-section .section-main .cards-container .card .head .headings .name {
  font-size: xx-large;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #fcf7ff;
}
body .main .authorities-section .section-main .cards-container .card .context {
  width: 100%;
  font-size: x-large;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 2rem;
  color: #fcf7ff;
  margin-top: 1rem;
}
body .main .authorities-section .section-main .cards-container .card:hover {
  cursor: default;
  transform: translateY(-1rem);
  box-shadow: 0 0 2rem #1e1927;
}
body .main .facilities-section .section-header .title-container {
  overflow: visible;
}
body .main .facilities-section .section-header .title-container .svg-container {
  margin-top: -1.5rem;
}
body .main .facilities-section .section-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1440px;
  height: calc(100% - 12rem);
  margin: auto;
}
body .main .facilities-section .section-main .feature-tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 4rem;
  width: 100%;
}
body .main .facilities-section .section-main .feature-tags-container .feature-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  width: 35rem;
  background-color: #7681f5;
  padding: 1rem 2rem;
  border-radius: 2rem;
}
body .main .facilities-section .section-main .feature-tags-container .feature-tag .svg-container {
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
}
body .main .facilities-section .section-main .feature-tags-container .feature-tag .svg-container svg {
  width: 100%;
  height: 100%;
  stroke-width: 0.5rem;
  fill: #1e1927;
  stroke: #1e1927;
}
body .main .facilities-section .section-main .feature-tags-container .feature-tag .text {
  font-size: xx-large;
  font-weight: 600;
}
body .main .facilities-section .section-main .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
  border: 2px solid;
  border-radius: 1rem;
  transition: all 200ms ease-in-out;
  background-color: #0e1ec4;
  border-color: #0e1ec4;
}
body .main .facilities-section .section-main .btn .text {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fcf7ff;
}
body .main .facilities-section .section-main .btn .svg-container {
  width: 2rem;
  height: 2rem;
}
body .main .facilities-section .section-main .btn .svg-container > svg {
  width: 100%;
  height: 100%;
  fill: #fcf7ff;
  stroke: #fcf7ff;
}
body .main .facilities-section .section-main .btn .text {
  color: #fcf7ff;
}
body .main .facilities-section .section-main .btn .svg-container > svg {
  fill: #fcf7ff;
  stroke: #fcf7ff;
}
body .main .facilities-section .section-main .btn:hover,
body .main .facilities-section .section-main .btn:active {
  background-color: #0c1aac;
  border-color: #0c1aac;
}
body .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 25rem;
  background-color: #1e1927;
}
body .footer .section {
  width: 25%;
  height: 100%;
}
body .footer .section .title {
  font-size: 40px;
  font-family: "Comfortaa", sans-serif;
  font-weight: 600;
  color: #fcf7ff;
  padding: 30px 0;
}
body .footer .section .title:hover {
  cursor: default;
}
body .footer .branding {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
body .footer .branding .brand-img {
  width: 10rem;
}
body .footer .branding .quote,
body .footer .branding .copyright-mark {
  font-size: x-large;
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  color: #fcf7ff;
  text-align: center;
}
body .footer .branding .copyright-mark {
  font-family: "Roboto", sans-serif;
}
body .footer .branding .copyright-mark:hover {
  cursor: default;
}
body .footer .links > .nav-links .nav-link {
  display: inline-block;
  font-size: xx-large;
  font-weight: 400;
  color: rgba(0, 180, 255, 0.6);
  margin-bottom: 10px;
  transition: all 200ms ease-in-out;
}
body .footer .links > .nav-links .nav-link:hover {
  color: #00b4ff;
}
body .footer .services > .services-list .service {
  display: inline-block;
  font-size: x-large;
  font-weight: 400;
  color: rgba(252, 247, 255, 0.6);
  margin-bottom: 5px;
}
body .footer .contacts {
  display: flex;
  flex-direction: column;
}
body .footer .contacts .contact {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
body .footer .contacts .contact .icon {
  width: 2rem;
  height: 2rem;
  fill: #fcf7ff;
}
body .footer .contacts .contact .info {
  display: inline-block;
  font-size: x-large;
  font-weight: 300;
  color: #fcf7ff;
  text-align: left;
  margin-left: 15px;
}

/*# sourceMappingURL=about-us.css.map */
