@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");
body {
  width: 100vw;
  height: 100vh;
  background-color: #fcf7ff;
  overflow-y: auto;
}
body .landing-page {
  position: relative;
  width: 100%;
  height: 50%;
  margin: auto;
}
body .landing-page .background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -20;
}
body .landing-page .background .bg-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
body .landing-page .background .filter-curtain {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.68);
  backdrop-filter: blur(5px);
}
body .landing-page .navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 0.5rem 5rem;
  z-index: 10;
}
body .landing-page .navbar a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}
body .landing-page .navbar a .brand-img {
  width: 6rem;
}
body .landing-page .navbar .navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
body .landing-page .navbar .navigation li > .nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgba(252, 247, 255, 0.6);
  transition: all 200ms ease-in;
}
body .landing-page .navbar .navigation li > .nav-item:hover {
  color: #fcf7ff;
  cursor: pointer;
}
body .landing-page .navbar .navigation .dropdown .nav-item::after {
  content: "⮟";
  font-size: 1rem;
  margin: 0.2rem;
}
body .landing-page .navbar .navigation .dropdown .subnav {
  position: fixed;
  display: none;
  flex-direction: column;
  gap: 1rem;
  background-color: #fcf7ff;
  padding: 1.5rem;
  border: 1px solid #1e1927;
  border-radius: 1rem;
  opacity: 0;
  transition: all 300ms;
}
body .landing-page .navbar .navigation .dropdown .subnav .nav-link {
  pointer-events: none;
  font-size: 1.8rem;
  font-weight: 400;
  color: #1e1927;
  transition: opacity 200ms;
}
body .landing-page .navbar .navigation .dropdown .subnav .nav-link:hover {
  color: #00b4ff;
}
body .landing-page .navbar .navigation .dropdown .active {
  display: flex;
  opacity: 1;
}
body .landing-page .navbar .navigation .dropdown .active .nav-link {
  pointer-events: all;
}
body .landing-page .navbar .offcanvas-trigger {
  display: none;
  width: 1.5rem;
  height: 1.5rem;
}
body .landing-page .navbar .offcanvas-trigger > svg {
  width: 100%;
  height: 100%;
  fill: #fcf7ff;
  stroke: #fcf7ff;
}
body .landing-page .sticky-navbar {
  position: fixed;
  inset: 0;
  background-color: rgba(18, 15, 23, 0.9);
}
body .landing-page .offcanvas {
  display: block;
  position: fixed;
  inset: 0;
  left: calc(-1 * min(70vw, 18rem));
  width: min(70vw, 18rem);
  height: 100vh;
  background-color: #fcf7ff;
  border-right: 1px solid #1e1927;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  z-index: 50;
  transition: all 300ms ease-out;
}
body .landing-page .offcanvas .heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  background-color: #1e1927;
  padding: 0.6rem 0.8rem;
}
body .landing-page .offcanvas .heading .brand {
  width: 4rem;
}
body .landing-page .offcanvas .heading .offcanvas-trigger {
  width: 1.3rem;
  height: 1.3rem;
}
body .landing-page .offcanvas .heading .offcanvas-trigger > svg {
  width: 100%;
  height: 100%;
  fill: #fcf7ff;
  stroke: #fcf7ff;
}
body .landing-page .offcanvas .navigation {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  padding: 2rem 0;
}
body .landing-page .offcanvas .navigation .container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
body .landing-page .offcanvas .navigation .container .sublink {
  font-size: 1rem;
  font-weight: 400;
  color: #007eb3;
  padding-left: 1.5rem;
}
body .landing-page .offcanvas .navigation .link {
  font-size: 1.2rem;
  font-weight: 500;
  color: #007eb3;
  padding-left: 1rem;
}
body .landing-page .offcanvas-active {
  left: 0;
}
body .landing-page .offcanvas-blanket {
  position: fixed;
  inset: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(30, 25, 39, 0.7);
  opacity: 0;
  z-index: 40;
  transition: opacity 300ms ease-out;
}
body .landing-page .offcanvas-blanket-active {
  display: block;
  opacity: 1;
}
body .landing-page .hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: calc(50vh - 5rem);
}
body .landing-page .hero .page-title {
  font-size: 6rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  color: #fcf7ff;
  transform: translateY(-50%);
}
body .main {
  width: 100%;
}
body .main .section {
  width: 100%;
  max-width: 1920px;
  height: fit-content;
  min-height: 100vh;
  padding: 3rem;
  margin: auto;
}
body .main .section .section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 8rem;
  margin-bottom: 2rem;
}
body .main .section .section-header .title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding-right: 1rem;
}
body .main .section .section-header .title-container .svg-container {
  width: 4rem;
  height: 4rem;
}
body .main .section .section-header .title-container .svg-container > svg {
  width: 100%;
  fill: #0e1ec4;
}
body .main .section .section-header .title-container .title {
  font-size: 3rem;
  font-family: "Comfortaa", sans-serif;
  font-weight: 600;
  color: #0e1ec4;
}
body .main .section .section-header .title-container .title:hover {
  cursor: default;
}
body .main .section .section-header .subtitle {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}
body .main .section .section-main {
  width: 100%;
  height: fit-content;
  min-height: calc(100vh - 16rem);
  margin: auto;
}
body .main .album-section .section-header .title-container .svg-container > svg {
  fill: none;
  stroke: #0e1ec4;
}
body .main .album-section .albums-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 3rem 0;
  overflow: visible;
}
body .main .album-section .albums-container .album {
  width: 30%;
  overflow: visible;
}
body .main .album-section .albums-container .album .album-title {
  width: 100%;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  color: #0e1ec4;
  margin-bottom: 1rem;
}
body .main .album-section .albums-container .album .thumbnail {
  box-shadow: 0 0 2rem rgba(30, 25, 39, 0.3);
  aspect-ratio: 16/9;
  border-radius: 1rem;
  transition: all 400ms;
}
body .main .album-section .albums-container .album:hover {
  cursor: pointer;
}
body .main .album-section .albums-container .active .thumbnail {
  transform: translateY(-1rem);
  box-shadow: 0 1rem 2rem rgba(30, 25, 39, 0.7);
}
body .main .album-section .live-album {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 70vh;
  max-height: 30rem;
  margin: auto;
}
body .main .album-section .live-album .img-reel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 30%;
  height: 100%;
  background-color: #1e1927;
  padding: 2rem;
  border-radius: 1rem;
  overflow-y: auto;
}
body .main .album-section .live-album .img-reel .img-container {
  width: 45%;
  aspect-ratio: 16/9;
  border-radius: 0.5rem;
}
body .main .album-section .live-album .img-reel .img-container:hover {
  border: 1px solid rgba(252, 247, 255, 0.4);
  cursor: pointer;
}
body .main .album-section .live-album .img-reel .img-container-active {
  border: 1px solid white;
}
body .main .album-section .live-album .img-reel::-webkit-scrollbar {
  display: none;
}
body .main .album-section .live-album .carousel {
  position: relative;
  width: 62.5%;
  aspect-ratio: 16/9;
  border-radius: 1rem;
}
body .main .album-section .live-album .carousel img {
  position: absolute;
  inset: 0;
  transition: all 500ms ease;
  object-fit: cover;
  object-position: center;
}
body .footer {
  width: 100%;
  height: fit-content;
  background-color: #1e1927;
  margin: auto;
}
body .footer .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 3rem;
}
body .footer .content .content-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
body .footer .content .content-list .title {
  font-size: 3rem;
  font-weight: 400;
  color: rgba(252, 247, 255, 0.7);
}
body .footer .content .content-list .nav-link {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(0, 180, 255, 0.8);
  padding-left: 5px;
  transition: all 200ms;
}
body .footer .content .content-list .nav-link:hover,
body .footer .content .content-list .nav-link:active {
  color: #00b4ff;
}
body .footer .content .content-list .item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
body .footer .content .content-list .item .svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}
body .footer .content .content-list .item .svg-container > svg {
  width: 100%;
  height: 100%;
  fill: rgba(252, 247, 255, 0.7);
  stroke: rgba(252, 247, 255, 0.7);
  transition: all 200ms;
}
body .footer .content .content-list .item .text {
  font-size: 1.5rem;
  font-weight: 300;
  color: rgba(252, 247, 255, 0.6);
  padding-left: 5px;
  transition: all 200ms;
}
body .footer .content .content-list .item:hover {
  cursor: default;
}
body .footer .content .content-list .item:hover .svg-container > svg {
  fill: #fcf7ff;
  stroke: #fcf7ff;
}
body .footer .content .content-list .item:hover .text {
  color: #fcf7ff;
}
body .footer .content .content-list .creds-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
  height: 4rem;
  background-color: rgba(252, 247, 255, 0.9);
  border-radius: 3rem;
  margin-right: 3px;
  margin-bottom: 3rem;
  overflow: visible;
}
body .footer .content .content-list .creds-container .email {
  flex: 1;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
}
body .footer .content .content-list .creds-container .btn {
  padding: 0.8rem 1.2rem;
  border: 0.2rem solid #00b4ff;
  border-radius: 0.8rem;
  outline: 0 solid #00b4ff;
  transition: all 200ms ease-in;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #00b4ff;
  height: 100%;
  padding: 0 1rem;
  border-radius: 0;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}
body .footer .content .content-list .creds-container .btn .text {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  color: #fcf7ff;
}
body .footer .content .content-list .creds-container .btn .svg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
}
body .footer .content .content-list .creds-container .btn .svg-container > svg {
  width: 100%;
  height: 100%;
  fill: #fcf7ff;
  stroke: #fcf7ff;
}
body .footer .content .content-list .creds-container .btn:hover,
body .footer .content .content-list .creds-container .btn:focus {
  background-color: transparent;
  border-color: transparent;
  outline-width: 0.2rem;
  outline-offset: 0.1px;
  cursor: pointer;
}
body .footer .content .content-list .creds-container .btn:hover .text,
body .footer .content .content-list .creds-container .btn:focus .text {
  color: #00b4ff;
}
body .footer .content .content-list .creds-container .btn:hover .svg-container > svg,
body .footer .content .content-list .creds-container .btn:focus .svg-container > svg {
  fill: #00b4ff;
  stroke: #00b4ff;
}
body .footer .content .content-list .quote {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: rgba(252, 247, 255, 0.6);
}
body .footer .branding-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 10rem;
  background-color: #2a2337;
  padding: 0 3rem;
}
body .footer .branding-bar .brand-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
body .footer .branding-bar .brand-container .img-container {
  width: 8rem;
  height: fit-content;
}
body .footer .branding-bar .brand-container .copyrights {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(252, 247, 255, 0.8);
}
body .footer .branding-bar .socials-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
body .footer .branding-bar .socials-container .btn {
  width: 3rem;
  height: 3rem;
}
body .footer .branding-bar .socials-container .btn > svg {
  width: 100%;
  height: 100%;
  fill: rgba(0, 180, 255, 0.5);
  stroke: rgba(0, 180, 255, 0.5);
  transition: all 200ms;
}
body .footer .branding-bar .socials-container .btn:hover > svg {
  fill: #00b4ff;
  stroke: #00b4ff;
}

@media screen and (max-width: 1640px) {
  body .landing-page .navbar {
    padding: 1rem 3rem;
  }
  body .landing-page .navbar a .brand-img {
    width: 5rem;
  }
  body .landing-page .navbar .navigation {
    gap: 2rem;
  }
  body .landing-page .navbar .navigation li > .nav-item {
    font-size: 1.5rem;
    font-weight: 400;
  }
  body .landing-page .navbar .navigation .dropdown .nav-item::after {
    font-size: 1.2rem;
  }
  body .landing-page .navbar .navigation .dropdown .subnav .nav-link {
    font-size: 1.5rem;
  }
  body .landing-page .hero {
    height: calc(50vh - 5rem);
  }
  body .landing-page .hero .page-title {
    font-size: 4rem;
  }
  body .main .section {
    padding: 2rem;
  }
  body .main .section .section-header {
    height: 6rem;
    margin-bottom: 1.5rem;
  }
  body .main .section .section-header .title-container .svg-container {
    width: 2.5rem;
    height: 2.5rem;
  }
  body .main .section .section-header .title-container .title {
    font-size: 2rem;
  }
  body .main .section .section-header .subtitle {
    font-size: 1.5rem;
  }
  body .main .section .section-main {
    min-height: calc(100vh - 11rem);
  }
  body .main .album-section .albums-container {
    padding: 1rem 0;
  }
  body .main .album-section .albums-container .album {
    width: 25%;
  }
  body .main .album-section .albums-container .album .album-title {
    font-size: 1.8rem;
  }
  body .main .album-section .albums-container .active .thumbnail {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 1rem rgba(30, 25, 39, 0.4);
  }
  body .main .album-section .live-album .img-reel {
    gap: 1rem;
    padding: 1rem 0;
  }
  body .footer .content .content-list {
    gap: 0.5rem;
  }
  body .footer .content .content-list .title {
    font-size: 1.8rem;
  }
  body .footer .content .content-list .nav-link {
    font-size: 1.2rem;
  }
  body .footer .content .content-list .item {
    gap: 0.2rem;
  }
  body .footer .content .content-list .item .svg-container {
    width: 1.5rem;
    height: 1.5rem;
  }
  body .footer .content .content-list .item .text {
    font-size: 1.2rem;
  }
  body .footer .content .content-list .creds-container {
    width: 18rem;
    height: 3rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
  }
  body .footer .content .content-list .creds-container .email {
    font-size: 1.2rem;
    padding: 0.3rem 0.8rem;
  }
  body .footer .content .content-list .creds-container .btn {
    padding: 0 0.5rem;
  }
  body .footer .content .content-list .quote {
    font-size: 1.2rem;
  }
  body .footer .branding-bar {
    min-height: 5rem;
    padding: 0 2rem;
  }
  body .footer .branding-bar .brand-container {
    gap: 1rem;
  }
  body .footer .branding-bar .brand-container .img-container {
    width: 5rem;
  }
  body .footer .branding-bar .brand-container .copyrights {
    font-size: 1.2rem;
  }
  body .footer .branding-bar .socials-container {
    gap: 1.5rem;
  }
  body .footer .branding-bar .socials-container .btn {
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (max-width: 1280px) {
  body .main .album-section .albums-container .album .album-title {
    font-size: 1.5rem;
  }
  body .main .album-section .live-album {
    flex-direction: column-reverse;
    gap: 1rem;
    width: 90%;
    max-width: 1024px;
    height: fit-content;
  }
  body .main .album-section .live-album .img-reel {
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    background-color: #1e1927;
    padding: 1rem;
    border-radius: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
  }
  body .main .album-section .live-album .img-reel .img-container {
    min-width: 20%;
  }
  body .main .album-section .live-album .carousel {
    width: 80%;
  }
  body .footer .content .content-list {
    gap: 0.3rem;
  }
  body .footer .content .content-list .title {
    font-size: 1.2rem;
  }
  body .footer .content .content-list .nav-link {
    font-size: 1rem;
  }
  body .footer .content .content-list .item {
    gap: 0.2rem;
  }
  body .footer .content .content-list .item .svg-container {
    width: 1.2rem;
    height: 1.2rem;
  }
  body .footer .content .content-list .item .text {
    font-size: 1rem;
  }
  body .footer .content .content-list .creds-container {
    width: 15rem;
    height: 2.5rem;
    border-radius: 2rem;
    margin-bottom: 0.5rem;
  }
  body .footer .content .content-list .creds-container .email {
    font-size: 1rem;
  }
  body .footer .content .content-list .creds-container .btn {
    padding: 0 0.3rem;
  }
  body .footer .content .content-list .quote {
    font-size: 1rem;
  }
  body .footer .branding-bar .brand-container {
    gap: 0.5rem;
  }
  body .footer .branding-bar .brand-container .img-container {
    width: 4rem;
  }
  body .footer .branding-bar .brand-container .copyrights {
    font-size: 1rem;
  }
  body .footer .branding-bar .socials-container {
    gap: 1rem;
  }
  body .footer .branding-bar .socials-container .btn {
    width: 1.5rem;
    height: 1.5rem;
  }
  ::-webkit-scrollbar {
    width: 0.5rem;
  }
}
@media screen and (max-width: 1024px) {
  body .landing-page .navbar {
    height: 2.5rem;
    padding: 0.3rem 1.5rem;
  }
  body .landing-page .navbar a .brand-img {
    width: 3rem;
  }
  body .landing-page .navbar .navigation {
    display: none;
  }
  body .landing-page .navbar .offcanvas-trigger {
    display: flex;
  }
  body .landing-page .hero {
    height: calc(50vh - 1.25rem);
  }
  body .landing-page .hero .page-title {
    font-size: 3rem;
  }
  body .main .section {
    padding: 1rem;
  }
  body .main .section .section-header {
    gap: 0;
    height: 4rem;
    padding-right: 0;
  }
  body .main .section .section-header .title-container {
    gap: 0.5rem;
  }
  body .main .section .section-header .title-container .title {
    font-size: 1.5rem;
  }
  body .main .section .section-header .title-container .svg-container {
    width: 1.8rem;
    height: 1.8rem;
  }
  body .main .section .section-header .subtitle {
    font-size: 1rem;
  }
  body .main .section .section-main {
    min-height: calc(100vh - 8rem);
  }
  body .main .album-section {
    padding: 0.5rem;
  }
  body .main .album-section .albums-container {
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
  }
  body .main .album-section .albums-container .album {
    width: 30%;
    min-width: 10rem;
  }
  body .main .album-section .albums-container .album .album-title {
    font-size: 0.9rem;
  }
  body .footer .content {
    padding: 1rem;
  }
  body .footer .content .content-list {
    gap: 0.1rem;
  }
  body .footer .content .content-list .title {
    font-size: 0.9rem;
  }
  body .footer .content .content-list .nav-link {
    font-size: 0.7rem;
  }
  body .footer .content .content-list .item {
    gap: 0.2rem;
  }
  body .footer .content .content-list .item .svg-container {
    width: 0.8rem;
    height: 1.2rem;
  }
  body .footer .content .content-list .item .text {
    font-size: 0.7rem;
    padding: 0;
  }
  body .footer .content .content-list .creds-container {
    width: 8rem;
    height: 1.5rem;
  }
  body .footer .content .content-list .creds-container .email {
    font-size: 0.7rem;
    padding: 0.3rem 0.5rem;
  }
  body .footer .content .content-list .creds-container .btn {
    padding: 0;
  }
  body .footer .content .content-list .creds-container .btn .svg-container {
    width: 1rem;
    height: 1rem;
  }
  body .footer .content .content-list .quote {
    font-size: 0.7rem;
  }
  body .footer .content .content-list:nth-child(3) {
    display: none;
  }
  body .footer .branding-bar {
    min-height: 3rem;
    padding: 0.5rem 1rem;
  }
  body .footer .branding-bar .brand-container {
    gap: 0.5rem;
  }
  body .footer .branding-bar .brand-container .img-container {
    width: 2rem;
  }
  body .footer .branding-bar .brand-container .copyrights {
    font-size: 0.6rem;
  }
  body .footer .branding-bar .socials-container {
    gap: 0.5rem;
  }
  body .footer .branding-bar .socials-container .btn {
    width: 1rem;
    height: 1rem;
  }
  ::-webkit-scrollbar {
    width: 0.2rem;
  }
}
@media screen and (max-width: 481px) {
  body .landing-page .navbar {
    padding-inline: 1rem;
  }
  body .landing-page .hero .page-title {
    font-size: 2.5rem;
  }
  body .main .section .section-header .title-container .title {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0;
  }
  body .main .section .section-header .title-container .svg-container {
    width: 1.2rem;
    height: 1.2rem;
  }
  body .main .section .section-header .subtitle {
    font-size: 0.9rem;
    letter-spacing: 0;
  }
  body .main .section .section-main {
    min-height: calc(100vh - 5rem);
  }
  body .main .album-section .albums-container .album .thumbnail {
    border-radius: 0.5rem;
  }
  body .main .album-section .albums-container .album .album-title {
    margin-bottom: 0.5rem;
  }
  body .main .album-section .live-album {
    width: 100%;
    gap: 0.5rem;
  }
  body .main .album-section .live-album .img-reel {
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
  }
  body .main .album-section .live-album .img-reel .img-container {
    border-radius: 0.1rem;
  }
  body .main .album-section .live-album .carousel {
    width: 100%;
    border-radius: 0.3rem;
  }
  body .footer .content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
  }
  body .footer .content .content-list {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  body .footer .content .content-list .title {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }
  body .footer .content .content-list .nav-link {
    font-size: 0.9rem;
  }
  body .footer .content .content-list .item .svg-container {
    width: 1.2rem;
    height: 1.2rem;
  }
  body .footer .content .content-list .item .text {
    font-size: 0.9rem;
    text-align: center;
  }
  body .footer .content .content-list .creds-container {
    width: 10rem;
    height: 2rem;
  }
  body .footer .content .content-list .creds-container .email {
    font-size: 0.9rem;
    padding: 0.3rem 0.8rem;
  }
  body .footer .content .content-list .creds-container .btn {
    padding: 0.3rem;
  }
  body .footer .content .content-list .quote {
    font-size: 0.9rem;
  }
  body .footer .content .content-list:nth-child(3) {
    display: flex;
  }
}
@media screen and (orientation: portrait) {
  body .main .section {
    min-height: fit-content;
  }
  body .main .section .section-main {
    min-height: fit-content;
  }
}

/*# sourceMappingURL=gallery.css.map */
