@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");
body {
  width: 100vw;
  height: 100vh;
  background-color: #fcf7ff;
  overflow-y: auto;
}
body .landing-page {
  position: relative;
  width: 100%;
  height: 100%;
}
body .landing-page .background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -20;
}
body .landing-page .background .bg-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
body .landing-page .background .filter-curtain {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}
body .landing-page .navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 20px 100px;
  z-index: 10;
}
body .landing-page .navbar .brand-img {
  width: 120px;
}
body .landing-page .navbar .navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
body .landing-page .navbar .navigation li > .nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: xx-large;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgba(252, 247, 255, 0.6);
  transition: all 200ms;
}
body .landing-page .navbar .navigation li > .nav-item:hover {
  color: #fcf7ff;
  cursor: pointer;
}
body .landing-page .navbar .navigation .dropdown .nav-item::after {
  content: "⮟";
  font-size: large;
  margin: 5px;
}
body .landing-page .navbar .navigation .dropdown .subnav {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: #fcf7ff;
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 1rem;
  opacity: 0;
  transition: all 300ms;
}
body .landing-page .navbar .navigation .dropdown .subnav .nav-link {
  pointer-events: none;
  font-size: xx-large;
  font-weight: 400;
  color: #1e1927;
  transition: opacity 200ms;
}
body .landing-page .navbar .navigation .dropdown .subnav .nav-link:hover {
  color: #00b4ff;
}
body .landing-page .navbar .navigation .dropdown .active {
  opacity: 1;
}
body .landing-page .navbar .navigation .dropdown .active .nav-link {
  pointer-events: all;
}
body .landing-page .sticky-navbar {
  position: fixed;
  inset: 0;
  background-color: rgba(18, 15, 23, 0.9);
}
body .landing-page .hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
}
body .landing-page .hero .hero-context {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  margin-left: 30px;
}
body .landing-page .hero .hero-context .heading {
  width: 50rem;
  font-size: 5rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 5rem;
  color: #fcf7ff;
}
body .landing-page .hero .hero-context .heading:hover {
  cursor: default;
}
body .landing-page .hero .hero-context .subheading {
  width: 50rem;
  font-size: xx-large;
  font-weight: 400;
  line-height: 30px;
  color: rgba(252, 247, 255, 0.4);
}
body .landing-page .hero .hero-context .cta-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  width: 100%;
  margin-top: 30px;
}
body .landing-page .hero .hero-context .cta-group .btn:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
  border: 2px solid;
  border-radius: 1rem;
  transition: all 200ms ease-in-out;
  background-color: #0e1ec4;
  border-color: #0e1ec4;
}
body .landing-page .hero .hero-context .cta-group .btn:nth-child(1) .text {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fcf7ff;
}
body .landing-page .hero .hero-context .cta-group .btn:nth-child(1) .svg-container {
  width: 2rem;
  height: 2rem;
}
body .landing-page .hero .hero-context .cta-group .btn:nth-child(1) .svg-container > svg {
  width: 100%;
  height: 100%;
  fill: #fcf7ff;
  stroke: #fcf7ff;
}
body .landing-page .hero .hero-context .cta-group .btn:nth-child(1) .text {
  color: #fcf7ff;
}
body .landing-page .hero .hero-context .cta-group .btn:nth-child(1) .svg-container > svg {
  fill: #fcf7ff;
  stroke: #fcf7ff;
}
body .landing-page .hero .hero-context .cta-group .btn:nth-child(1):hover,
body .landing-page .hero .hero-context .cta-group .btn:nth-child(1):focus {
  background-color: #0c1aac;
  border-color: #0c1aac;
  cursor: pointer;
}
body .landing-page .hero .hero-context .cta-group .btn:nth-child(2) {
  font-size: xx-large;
  font-weight: 400;
  color: #fcf7ff;
  padding: 1rem 1.5rem;
  border: 2px solid;
  border-radius: 1rem;
  transition: all 200ms ease-in-out;
  border-color: #0e1ec4;
}
body .landing-page .hero .hero-context .cta-group .btn:nth-child(2):hover,
body .landing-page .hero .hero-context .cta-group .btn:nth-child(2):focus {
  background-color: #0e1ec4;
  cursor: pointer;
}
body .landing-page .hero .hero-img {
  align-self: flex-end;
  width: 40%;
  margin-bottom: -1rem;
}
body .main {
  width: 100%;
}
body .main .section {
  width: 100%;
  height: 100vh;
  padding: 3rem;
}
body .main .section .section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 10rem;
  margin-bottom: 2rem;
}
body .main .section .section-header .title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
body .main .section .section-header .title-container .svg-container {
  width: 5rem;
  height: 5rem;
}
body .main .section .section-header .title-container .svg-container > svg {
  width: 100%;
  fill: #0e1ec4;
}
body .main .section .section-header .title-container .title {
  font-size: 4rem;
  font-family: "Comfortaa", sans-serif;
  font-weight: 600;
  color: #0e1ec4;
}
body .main .section .section-header .title-container .title:hover {
  cursor: default;
}
body .main .section .section-header .subtitle {
  font-size: xx-large;
  font-weight: 400;
}
body .main .about .section-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 1440px;
  height: calc(100% - 10rem);
  margin: 0px auto;
}
body .main .about .section-main .content-container {
  width: 100%;
}
body .main .about .section-main .content-container .heading {
  font-size: 2.5rem;
  font-weight: 400;
  color: #0e1ec4;
  margin-bottom: 0.3rem;
}
body .main .about .section-main .content-container .context {
  font-size: xx-large;
  font-weight: 300;
}
body .main .about .section-main .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
  border: 2px solid;
  border-radius: 1rem;
  transition: all 200ms ease-in-out;
  background-color: #0e1ec4;
  border-color: #0e1ec4;
}
body .main .about .section-main .btn .text {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fcf7ff;
}
body .main .about .section-main .btn .svg-container {
  width: 2rem;
  height: 2rem;
}
body .main .about .section-main .btn .svg-container > svg {
  width: 100%;
  height: 100%;
  fill: #fcf7ff;
  stroke: #fcf7ff;
}
body .main .about .section-main .btn .text {
  color: #fcf7ff;
}
body .main .about .section-main .btn .svg-container > svg {
  fill: #fcf7ff;
  stroke: #fcf7ff;
}
body .main .about .section-main .btn:hover,
body .main .about .section-main .btn:focus {
  background-color: #0c1aac;
  border-color: #0c1aac;
  cursor: pointer;
}
body .main .availablity {
  background-color: #d5d8fc;
}
body .main .availablity .section-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: calc(100% - 10rem);
}
body .main .availablity .section-main .card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  background-color: #1e1927;
  padding: 2rem;
  border-radius: 1rem;
  overflow: visible;
  transition: all 300ms;
}
body .main .availablity .section-main .card .svg-container {
  position: absolute;
  inset: 0;
  left: 50%;
  width: 6rem;
  aspect-ratio: 1/1;
  background-color: #fcf7ff;
  padding: 1rem;
  border: 2px solid #1e1927;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  overflow: visible;
}
body .main .availablity .section-main .card .svg-container > svg {
  width: 100%;
  fill: #0e1ec4;
}
body .main .availablity .section-main .card .heading {
  font-size: 2.5rem;
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  color: #fcf7ff;
  margin: 2rem 0;
}
body .main .availablity .section-main .card .heading:hover {
  cursor: default;
}
body .main .availablity .section-main .card .branch-img {
  width: 100%;
  aspect-ratio: 16/12;
}
body .main .availablity .section-main .card .branch-img > img {
  object-fit: fill;
}
body .main .availablity .section-main .card .branch-img > img:nth-child(1) {
  transform: translateY(-50px);
}
body .main .availablity .section-main .card .context {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.8rem;
  color: #fcf7ff;
  text-align: center;
  margin-top: 2rem;
}
body .main .availablity .section-main .card:hover {
  transform: translateY(-2rem);
  box-shadow: 0 1rem 2rem #1e1927;
  cursor: pointer;
}
body .main .faculty {
  height: fit-content;
  min-height: 100vh;
}
body .main .faculty .section-main {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: calc(100% - 16rem);
}
body .main .faculty .section-main .slider {
  position: relative;
  width: 100rem;
  height: 47rem;
  border-radius: 2rem;
  margin: 6rem auto;
  box-shadow: 0 0 1.5rem rgba(30, 25, 39, 0.3);
  overflow: visible;
}
body .main .faculty .section-main .slider .slider-modes {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  overflow: visible;
  transition: all 300ms;
}
body .main .faculty .section-main .slider .slider-modes .mode {
  font-size: xx-large;
  font-weight: 400;
  color: #fcf7ff;
  padding: 1rem 1.5rem;
  border: 2px solid;
  border-radius: 1rem;
  transition: all 200ms ease-in-out;
  border-color: #0e1ec4;
  width: 18rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  color: #0e1ec4;
  background-color: #fcf7ff;
  z-index: 3;
  transform: translateY(-50%);
  transition: all 300ms;
}
body .main .faculty .section-main .slider .slider-modes .mode:hover {
  cursor: pointer;
}
body .main .faculty .section-main .slider .slider-modes .active-mode {
  color: #fcf7ff;
  background-color: #0e1ec4;
  transform: translateY(-70%);
}
body .main .faculty .section-main .slider .dots {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  transform: translate(-50%, -50%);
  z-index: 5;
}
body .main .faculty .section-main .slider .dots .dot {
  width: 1rem;
  height: 1rem;
  background-color: rgba(30, 25, 39, 0.2);
  border-radius: 50%;
  transition: all 200ms;
}
body .main .faculty .section-main .slider .dots .dot:hover {
  background-color: rgba(30, 25, 39, 0.3);
  cursor: pointer;
}
body .main .faculty .section-main .slider .dots .active-dot {
  background-color: rgba(30, 25, 39, 0.5);
}
body .main .faculty .section-main .slider .dots .active-dot:hover {
  background-color: rgba(30, 25, 39, 0.5);
}
body .main .faculty .section-main .slider .control {
  position: absolute;
  top: 50%;
  width: 3rem;
  height: 3rem;
  z-index: 3;
  transform: translateY(-50%);
}
body .main .faculty .section-main .slider .control > svg {
  width: 100%;
  height: 100%;
  fill: rgba(14, 30, 196, 0.6);
  stroke: rgba(14, 30, 196, 0.6);
  transition: all 200ms;
}
body .main .faculty .section-main .slider .control:hover {
  cursor: pointer;
}
body .main .faculty .section-main .slider .control:hover > svg {
  width: 100%;
  height: 100%;
  fill: #0e1ec4;
  stroke: #0e1ec4;
}
body .main .faculty .section-main .slider .prev {
  left: 2rem;
}
body .main .faculty .section-main .slider .next {
  right: 2rem;
}
body .main .faculty .section-main .slider .slides-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
body .main .faculty .section-main .slider .slides-container .slide {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  height: 100%;
  padding: 5rem 8rem;
  transition: all 500ms ease;
}
body .main .faculty .section-main .slider .slides-container .slide .pfp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15rem;
  height: 100%;
}
body .main .faculty .section-main .slider .slides-container .slide .pfp-container .pfp {
  width: 12rem;
  height: 12rem;
  border: 2px solid #0e1ec4;
  border-radius: 50%;
}
body .main .faculty .section-main .slider .slides-container .slide .context-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2rem 0;
}
body .main .faculty .section-main .slider .slides-container .slide .context-container .subheading {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #0e1ec4;
}
body .main .faculty .section-main .slider .slides-container .slide .context-container .heading {
  font-size: 3rem;
  font-family: "Comfortaa", sans-serif;
  font-weight: 900;
  text-transform: capitalize;
  letter-spacing: 2px;
}
body .main .faculty .section-main .slider .slides-container .slide .context-container .context {
  font-size: 2rem;
  font-weight: 400;
  word-spacing: 2px;
  line-height: 2.5rem;
  margin: 3rem 0;
}
body .main .faculty .section-main .slider .slides-container .slide .context-container .contacts {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
body .main .faculty .section-main .slider .slides-container .slide .context-container .contacts .contact {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 2px;
}
body .main .faculty .section-main .slider .slides-container .dummy-slide {
  background: rgb(209, 205, 205);
  background: linear-gradient(125deg, rgb(209, 205, 205) 20%, rgb(252, 252, 252) 80%);
  z-index: -1;
  border-radius: 2rem;
}
body .main .cta-section {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 20rem;
  background-color: #0b1794;
}
body .main .cta-section .gradiant {
  position: absolute;
  inset: 0;
  height: 100%;
}
body .main .cta-section .gradiant:nth-child(1) {
  width: 70%;
  background-color: #0e1ec4;
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
  z-index: 2;
}
body .main .cta-section .gradiant:nth-child(2) {
  width: 90%;
  background-color: #0c1aac;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  z-index: 1;
}
body .main .cta-section .title {
  font-size: 6rem;
  font-family: "Comfortaa", sans-serif;
  font-weight: 900;
  text-transform: capitalize;
  line-height: 8rem;
  color: #fcf7ff;
  z-index: 3;
}
body .main .cta-section .title:hover {
  cursor: default;
}
body .main .cta-section .cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
  border: 2px solid;
  border-radius: 1rem;
  transition: all 200ms ease-in-out;
  background-color: #00b4ff;
  border-color: #00b4ff;
  z-index: 3;
}
body .main .cta-section .cta .text {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fcf7ff;
}
body .main .cta-section .cta .svg-container {
  width: 2rem;
  height: 2rem;
}
body .main .cta-section .cta .svg-container > svg {
  width: 100%;
  height: 100%;
  fill: #fcf7ff;
  stroke: #fcf7ff;
}
body .main .cta-section .cta .text {
  color: #fcf7ff;
}
body .main .cta-section .cta .svg-container > svg {
  fill: #fcf7ff;
  stroke: #fcf7ff;
}
body .main .cta-section .cta .text {
  font-size: 2rem;
}
body .main .cta-section .cta .svg-container {
  width: 2rem;
  height: 2rem;
}
body .main .cta-section .cta:hover {
  background-color: #00a2e6;
  border-color: #00a2e6;
  cursor: pointer;
}
body .main .statistics {
  height: fit-content;
}
body .main .statistics .section-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: calc(100% - 10rem);
}
body .main .statistics .section-main .counters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}
body .main .statistics .section-main .counters .counter .number {
  font-size: 4rem;
  font-family: "Comfortaa", sans-serif;
  font-weight: 900;
  color: #1e1927;
  margin: 0 auto;
}
body .main .statistics .section-main .counters .counter .label {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}
body .footer {
  width: 100%;
  background-color: #1e1927;
}
body .footer .content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 2rem 0;
}
body .footer .content .content-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
body .footer .content .content-list .title {
  font-size: 3rem;
  font-weight: 400;
  color: rgba(252, 247, 255, 0.7);
  margin-bottom: 1rem;
}
body .footer .content .content-list .nav-link {
  font-size: 1.7rem;
  font-weight: 400;
  color: rgba(0, 180, 255, 0.8);
  padding-left: 5px;
  transition: all 200ms;
}
body .footer .content .content-list .nav-link:hover,
body .footer .content .content-list .nav-link:active {
  color: #00b4ff;
}
body .footer .content .content-list .item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
body .footer .content .content-list .item .svg-container {
  width: 2rem;
  height: 2rem;
}
body .footer .content .content-list .item .svg-container > svg {
  width: 100%;
  height: 100%;
  fill: rgba(252, 247, 255, 0.7);
  stroke: rgba(252, 247, 255, 0.7);
  transition: all 200ms;
}
body .footer .content .content-list .item .text {
  font-size: 1.7rem;
  font-weight: 300;
  color: rgba(252, 247, 255, 0.6);
  padding-left: 5px;
  transition: all 200ms;
}
body .footer .content .content-list .item:hover {
  cursor: default;
}
body .footer .content .content-list .item:hover .svg-container > svg {
  fill: #fcf7ff;
  stroke: #fcf7ff;
}
body .footer .content .content-list .item:hover .text {
  color: #fcf7ff;
}
body .footer .content .content-list .creds-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
  height: 4rem;
  background-color: rgba(252, 247, 255, 0.9);
  border: 2px solid #00b4ff;
  border-radius: 3rem;
  margin-bottom: 3rem;
}
body .footer .content .content-list .creds-container .email {
  flex: 1;
  height: 100%;
  font-size: xx-large;
  font-weight: 400;
  padding: 0.5rem 1rem;
}
body .footer .content .content-list .creds-container .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
  border: 2px solid;
  border-radius: 1rem;
  transition: all 200ms ease-in-out;
  background-color: #00b4ff;
  border-color: #00b4ff;
  height: 100%;
  padding: 0 1rem;
  border-radius: 0;
}
body .footer .content .content-list .creds-container .btn .text {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fcf7ff;
}
body .footer .content .content-list .creds-container .btn .svg-container {
  width: 2rem;
  height: 2rem;
}
body .footer .content .content-list .creds-container .btn .svg-container > svg {
  width: 100%;
  height: 100%;
  fill: #fcf7ff;
  stroke: #fcf7ff;
}
body .footer .content .content-list .creds-container .btn .text {
  color: #fcf7ff;
}
body .footer .content .content-list .creds-container .btn .svg-container > svg {
  fill: #fcf7ff;
  stroke: #fcf7ff;
}
body .footer .content .content-list .creds-container .btn:hover,
body .footer .content .content-list .creds-container .btn:focus {
  background-color: #00a2e6;
  border-color: #00a2e6;
  cursor: pointer;
}
body .footer .content .content-list .quote {
  width: 100%;
  font-size: x-large;
  font-weight: 400;
  text-align: center;
  color: rgba(252, 247, 255, 0.6);
}
body .footer .branding-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 10rem;
  background-color: #2a2337;
  padding: 0 3rem;
}
body .footer .branding-bar .brand-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
body .footer .branding-bar .brand-container .img-container {
  width: 8rem;
  height: fit-content;
}
body .footer .branding-bar .brand-container .copyrights {
  font-size: x-large;
  font-weight: 400;
  color: rgba(252, 247, 255, 0.8);
}
body .footer .branding-bar .socials-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
body .footer .branding-bar .socials-container .btn {
  width: 3rem;
  height: 3rem;
}
body .footer .branding-bar .socials-container .btn > svg {
  width: 100%;
  height: 100%;
  fill: rgba(0, 180, 255, 0.5);
  stroke: rgba(0, 180, 255, 0.5);
  transition: all 200ms;
}
body .footer .branding-bar .socials-container .btn:hover > svg {
  fill: #00b4ff;
  stroke: #00b4ff;
}

/*# sourceMappingURL=index.css.map */
