@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");
body {
  width: 100vw;
  height: 100vh;
  background-color: #fcf7ff;
  overflow-y: auto;
}
body .landing-page {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 50%;
  margin: auto;
}
body .landing-page .background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -20;
}
body .landing-page .background .bg-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
body .landing-page .background .filter-curtain {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}
body .landing-page .navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 20px 100px;
  z-index: 10;
}
body .landing-page .navbar .brand-img {
  width: 120px;
}
body .landing-page .navbar .navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
body .landing-page .navbar .navigation li > .nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: xx-large;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgba(252, 247, 255, 0.6);
  transition: all 200ms;
}
body .landing-page .navbar .navigation li > .nav-item:hover {
  color: #fcf7ff;
  cursor: pointer;
}
body .landing-page .navbar .navigation .dropdown .nav-item::after {
  content: "⮟";
  font-size: large;
  margin: 5px;
}
body .landing-page .navbar .navigation .dropdown .subnav {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: #fcf7ff;
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 1rem;
  opacity: 0;
  transition: all 300ms;
}
body .landing-page .navbar .navigation .dropdown .subnav .nav-link {
  pointer-events: none;
  font-size: xx-large;
  font-weight: 400;
  color: #1e1927;
  transition: opacity 200ms;
}
body .landing-page .navbar .navigation .dropdown .subnav .nav-link:hover {
  color: #00b4ff;
}
body .landing-page .navbar .navigation .dropdown .active {
  opacity: 1;
}
body .landing-page .navbar .navigation .dropdown .active .nav-link {
  pointer-events: all;
}
body .landing-page .sticky-navbar {
  position: fixed;
  inset: 0;
  background-color: rgba(18, 15, 23, 0.9);
}
body .landing-page .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  width: 100%;
  height: calc(100% - 100px);
}
body .landing-page .hero .page-title {
  font-size: 8rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  line-height: 5rem;
  color: #fcf7ff;
  padding: 1rem 10rem;
  border-radius: 1rem;
  transform: translateY(-50px);
}
body .main {
  width: 100%;
}
body .main .section {
  width: 100%;
  max-width: 1920px;
  height: fit-content;
  min-height: 100vh;
  padding: 3rem;
  margin: auto;
}
body .main .section .section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 10rem;
  margin-bottom: 2rem;
}
body .main .section .section-header .title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
body .main .section .section-header .title-container .svg-container {
  width: 5rem;
  height: 5rem;
}
body .main .section .section-header .title-container .svg-container > svg {
  width: 100%;
  fill: #0e1ec4;
}
body .main .section .section-header .title-container .title {
  font-size: 4rem;
  font-family: "Comfortaa", sans-serif;
  font-weight: 600;
  color: #0e1ec4;
}
body .main .section .section-header .title-container .title:hover {
  cursor: default;
}
body .main .section .section-header .subtitle {
  font-size: xx-large;
  font-weight: 400;
}
body .main .results {
  height: fit-content;
  min-height: 60vh;
}
body .main .results .result-filters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin: 3rem 0;
  overflow: visible;
}
body .main .results .result-filters-container .context {
  font-size: xx-large;
  font-weight: 600;
}
body .main .results .result-filters-container .result-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  overflow: visible;
}
body .main .results .result-filters-container .result-filters .selection {
  font-size: xx-large;
  font-weight: 500;
  text-align: center;
  padding: 1rem 2rem;
  border: 2px solid #1e1927;
  border-radius: 0.8rem;
}
body .main .results .result-filters-container .result-filters .selection .option {
  font-size: xx-large;
  font-weight: 400;
}
body .main .results .result-filters-container .result-filters .selection:hover {
  cursor: pointer;
}
body .main .results .result-filters-container .result-filters .filter-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  transition: all 200ms ease-in-out;
  background-color: #1e1927;
}
body .main .results .result-filters-container .result-filters .filter-btn .text {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
}
body .main .results .result-filters-container .result-filters .filter-btn .svg-container {
  width: 2rem;
  height: 2rem;
}
body .main .results .result-filters-container .result-filters .filter-btn .svg-container > svg {
  width: 100%;
  height: 100%;
}
body .main .results .result-filters-container .result-filters .filter-btn .text {
  color: #fcf7ff;
}
body .main .results .result-filters-container .result-filters .filter-btn .svg-container > svg {
  fill: #fcf7ff;
  stroke: #fcf7ff;
}
body .main .results .result-filters-container .result-filters .filter-btn .svg-container > svg {
  stroke-width: 0.2px;
}
body .main .results .result-filters-container .result-filters .filter-btn:hover,
body .main .results .result-filters-container .result-filters .filter-btn:focus {
  background-color: transparent;
  outline: 3px solid #1e1927;
  cursor: pointer;
}
body .main .results .result-filters-container .result-filters .filter-btn:hover .text,
body .main .results .result-filters-container .result-filters .filter-btn:focus .text {
  color: #1e1927;
}
body .main .results .result-filters-container .result-filters .filter-btn:hover .svg-container > svg,
body .main .results .result-filters-container .result-filters .filter-btn:focus .svg-container > svg {
  fill: #1e1927;
  stroke: #1e1927;
}
body .main .results .pdf-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
body .main .results .pdf-view-container .pdf-view {
  width: 50%;
  aspect-ratio: 9/10;
  margin: auto;
}
body .footer {
  width: 100%;
  max-width: 1920px;
  height: fit-content;
  background-color: #1e1927;
  margin: auto;
}
body .footer .content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 2rem 0;
}
body .footer .content .content-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
body .footer .content .content-list .title {
  font-size: 3rem;
  font-weight: 400;
  color: rgba(252, 247, 255, 0.7);
  margin-bottom: 1rem;
}
body .footer .content .content-list .nav-link {
  font-size: 1.7rem;
  font-weight: 400;
  color: rgba(0, 180, 255, 0.8);
  padding-left: 5px;
  transition: all 200ms;
}
body .footer .content .content-list .nav-link:hover,
body .footer .content .content-list .nav-link:active {
  color: #00b4ff;
}
body .footer .content .content-list .item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
body .footer .content .content-list .item .svg-container {
  width: 2rem;
  height: 2rem;
}
body .footer .content .content-list .item .svg-container > svg {
  width: 100%;
  height: 100%;
  fill: rgba(252, 247, 255, 0.7);
  stroke: rgba(252, 247, 255, 0.7);
  transition: all 200ms;
}
body .footer .content .content-list .item .text {
  font-size: 1.7rem;
  font-weight: 300;
  color: rgba(252, 247, 255, 0.6);
  padding-left: 5px;
  transition: all 200ms;
}
body .footer .content .content-list .item:hover {
  cursor: default;
}
body .footer .content .content-list .item:hover .svg-container > svg {
  fill: #fcf7ff;
  stroke: #fcf7ff;
}
body .footer .content .content-list .item:hover .text {
  color: #fcf7ff;
}
body .footer .content .content-list .creds-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
  height: 4rem;
  background-color: rgba(252, 247, 255, 0.9);
  border-radius: 3rem;
  margin-bottom: 3rem;
}
body .footer .content .content-list .creds-container .email {
  flex: 1;
  height: 100%;
  font-size: xx-large;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
}
body .footer .content .content-list .creds-container .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  transition: all 200ms ease-in-out;
  background-color: #00b4ff;
  height: 100%;
  padding: 0 1rem;
  border-radius: 0;
}
body .footer .content .content-list .creds-container .btn .text {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
}
body .footer .content .content-list .creds-container .btn .svg-container {
  width: 2rem;
  height: 2rem;
}
body .footer .content .content-list .creds-container .btn .svg-container > svg {
  width: 100%;
  height: 100%;
}
body .footer .content .content-list .creds-container .btn .text {
  color: #fcf7ff;
}
body .footer .content .content-list .creds-container .btn .svg-container > svg {
  fill: #fcf7ff;
  stroke: #fcf7ff;
}
body .footer .content .content-list .creds-container .btn:hover,
body .footer .content .content-list .creds-container .btn:focus {
  background-color: transparent;
  outline: 3px solid #00b4ff;
  cursor: pointer;
}
body .footer .content .content-list .creds-container .btn:hover .text,
body .footer .content .content-list .creds-container .btn:focus .text {
  color: #00b4ff;
}
body .footer .content .content-list .creds-container .btn:hover .svg-container > svg,
body .footer .content .content-list .creds-container .btn:focus .svg-container > svg {
  fill: #00b4ff;
  stroke: #00b4ff;
}
body .footer .content .content-list .quote {
  width: 100%;
  font-size: x-large;
  font-weight: 400;
  text-align: center;
  color: rgba(252, 247, 255, 0.6);
}
body .footer .branding-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 10rem;
  background-color: #2a2337;
  padding: 0 3rem;
}
body .footer .branding-bar .brand-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
body .footer .branding-bar .brand-container .img-container {
  width: 8rem;
  height: fit-content;
}
body .footer .branding-bar .brand-container .copyrights {
  font-size: x-large;
  font-weight: 400;
  color: rgba(252, 247, 255, 0.8);
}
body .footer .branding-bar .socials-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
body .footer .branding-bar .socials-container .btn {
  width: 3rem;
  height: 3rem;
}
body .footer .branding-bar .socials-container .btn > svg {
  width: 100%;
  height: 100%;
  fill: rgba(0, 180, 255, 0.5);
  stroke: rgba(0, 180, 255, 0.5);
  transition: all 200ms;
}
body .footer .branding-bar .socials-container .btn:hover > svg {
  fill: #00b4ff;
  stroke: #00b4ff;
}

@media (min-width: 1280px) and (max-width: 1919px) {
  body .landing-page .navbar {
    height: 5rem;
    padding: 1rem 3rem;
    z-index: 10;
  }
  body .landing-page .navbar .brand-img {
    width: 5rem;
  }
  body .landing-page .navbar .navigation {
    gap: 2rem;
  }
  body .landing-page .navbar .navigation li > .nav-item {
    font-size: x-large;
  }
  body .landing-page .navbar .navigation .dropdown .nav-item::after {
    font-size: medium;
  }
  body .landing-page .navbar .navigation .dropdown .subnav {
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  body .landing-page .navbar .navigation .dropdown .subnav .nav-link {
    font-size: x-large;
  }
  body .landing-page .hero {
    height: calc(100% - 5rem);
  }
  body .landing-page .hero .page-title {
    font-size: 5rem;
    transform: translateY(-2.5rem);
  }
  body .main {
    width: 100%;
  }
  body .main .section {
    padding: 2rem;
  }
  body .main .section .section-header {
    gap: 0.2rem;
    height: 8rem;
    margin-bottom: 1rem;
  }
  body .main .section .section-header .title-container {
    gap: 1rem;
  }
  body .main .section .section-header .title-container .svg-container {
    width: 3rem;
    height: 3rem;
  }
  body .main .section .section-header .title-container .title {
    font-size: 2rem;
  }
  body .main .section .section-header .subtitle {
    font-size: 1.3rem;
  }
  body .main .results .result-filters-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 3rem 0;
    overflow: visible;
  }
  body .main .results .result-filters-container .context {
    font-size: X-large;
  }
  body .main .results .result-filters-container .result-filters {
    gap: 1.5rem;
  }
  body .main .results .result-filters-container .result-filters .selection {
    font-size: x-large;
    padding: 0.5rem 1rem;
    border: 2px solid #1e1927;
    border-radius: 0.8rem;
  }
  body .main .results .result-filters-container .result-filters .selection .option {
    font-size: 1.3;
    font-weight: 400;
  }
  body .main .results .result-filters-container .result-filters .filter-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    transition: all 200ms ease-in-out;
    background-color: #1e1927;
    padding: 0.8rem 1rem;
  }
  body .main .results .result-filters-container .result-filters .filter-btn .text {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
  }
  body .main .results .result-filters-container .result-filters .filter-btn .svg-container {
    width: 2rem;
    height: 2rem;
  }
  body .main .results .result-filters-container .result-filters .filter-btn .svg-container > svg {
    width: 100%;
    height: 100%;
  }
  body .main .results .result-filters-container .result-filters .filter-btn .text {
    color: #fcf7ff;
  }
  body .main .results .result-filters-container .result-filters .filter-btn .svg-container > svg {
    fill: #fcf7ff;
    stroke: #fcf7ff;
  }
  body .main .results .result-filters-container .result-filters .filter-btn .svg-container {
    width: 1.2rem;
    height: 1.2rem;
  }
  body .main .results .result-filters-container .result-filters .filter-btn .text {
    font-size: 1.3rem;
  }
  body .footer .content {
    padding: 2rem 0;
    justify-content: space-around;
  }
  body .footer .content .content-list {
    gap: 0.5rem;
  }
  body .footer .content .content-list .title {
    font-size: x-large;
    margin-bottom: 0.2rem;
  }
  body .footer .content .content-list .nav-link {
    font-size: 1rem;
  }
  body .footer .content .content-list .item {
    gap: 0.1rem;
  }
  body .footer .content .content-list .item .svg-container {
    width: 1.3rem;
    height: 1.3rem;
  }
  body .footer .content .content-list .item .text {
    max-width: 20rem;
    font-size: 1rem;
  }
  body .footer .content .content-list .creds-container {
    width: 15rem;
    height: 2.5rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
  }
  body .footer .content .content-list .creds-container .email {
    font-size: 1rem;
    padding: 0.3rem 1rem;
  }
  body .footer .content .content-list .creds-container .btn {
    padding: 0.8rem 0.3rem;
  }
  body .footer .content .content-list .quote {
    font-size: 1rem;
  }
  body .footer .branding-bar {
    min-height: 6rem;
    padding: 0 2rem;
  }
  body .footer .branding-bar .brand-container {
    gap: 1rem;
  }
  body .footer .branding-bar .brand-container .img-container {
    width: 5rem;
  }
  body .footer .branding-bar .brand-container .copyrights {
    font-size: 1.3rem;
  }
  body .footer .branding-bar .socials-container {
    gap: 1.5rem;
  }
  body .footer .branding-bar .socials-container .btn {
    width: 2.5rem;
    height: 2.5rem;
  }
}

/*# sourceMappingURL=results.css.map */
